[2019-09-28 12:20] afsalthaj opened #11 "Recursive nested config support ?"
While it may sound natural to have the support of a recursive config build,
a recursive structure to hold the environment configuration of an application does seem to be an overkill.

However, this is posted as a question and views are invited.

[2019-09-28 12:25] afsalthaj opened #12 "Move to using zio-test"

[2019-09-29 02:18] afsalthaj opened #15 "Do we need config.withPrefix function?"
Short answer is no. However views are welcome.

[code]

A few points:

I would imagine users hardly need this by the way.
If both `Id` was formed from the same path,  then as far as Id exists in the environment, prodRelated (the `X`) will never occur. `withPrefix` can help them differentiate, however it still sounds fragile, and users hardly need this situation to occur.

Another use of `withPrefi

[2019-09-29 09:23] afsalthaj opened #17 "Make write return a Map[String, String] instead of ZIO"
`def write[A](config: Config[A], value: A): Map[String, String]`

[2019-09-29 09:37] afsalthaj opened #18 "Add more primitives into Config type."
[code]

[code]

We need `Optional` for man page.

And default could be used as below:

[code]

[2019-09-29 09:55] afsalthaj opened #19 "Remove descriptions from PropertyType and use Config.Description"
Depends on
  #18

[code]

And the new functions that made use of `PropertyType` descriptions will be

[code]

This allows more generic descriptions to be tagged against the overall config (and its nodes)

[2019-09-29 10:00] afsalthaj opened #20 "Use `::` instead of List for List of Read Error"
`type ReadErrors = ::[ReadError]` in the package object

User `ReadErrors` instead of `List[ReadError]`
Ensures non empty list representing errors.

[2019-09-29 10:02] afsalthaj opened #21 "Change UIO[Option[String]] to IO[Unit, String] in ConfigSource.scala"
In ConfigSource.scala, change UIO[Option[String]] to IO[Unit, String].
Also, rename `getString` to `getConfigValue`.

[2019-09-29 19:19] wi101 opened #24 "Move Examples in the top level of the project"
Move the example to a sub project called `examples` in the top level of zio-config
and put the code src in a sub project called `core`

[2019-09-29 20:33] wi101 opened #25 "Move Read, Write, Report to the package config and make them methods"
currently in the `config` package those methods are using different data type

[code]

Move the implementation of `Read`, `Write` and `Report` to `config` and make them methods instead of data types.
those methods should return `ZIO`

[code]

[2019-09-29 20:36] afsalthaj commented on #25
@wi101 And about the methods `int`, `string` etc, we are moving to the companion object. Aren't we?

[2019-09-29 20:39] afsalthaj opened #26 "Replace `KeyValue` with raw `Map[String, String]`"
Remove KeyValue datatype and use `Map[String, String]`  as part of simplifying write method

[2019-09-29 21:06] wi101 commented on #25
I think it makes sense to move them there, let's add this in the ticket

[2019-09-29 21:14] wi101 commented on #25
Well I think it wouldn't be something tricky (like in this ticket) I think we can work on that in the opened PR
I will move them :-)

[2019-09-29 21:18] wi101 opened #28 "Move the methods from config package to the companion object Config"
Move: `int`, `double`, `string`,`long`, `short`,`uri`, `read`, `write`, and `report` to the companion object `Config` and make sure the examples still work.

[2019-09-29 21:47] JonasAckermann opened #29 "Adjust comments to match syntax/combinators used in example (Move from <*> to |@|)"
https://github.com/zio/zio-config/blob/6bb56fd6e57104f440684ca325737ad78752c044/src/main/scala/zio/config/examples/ReadWriteReport.scala#L8

None of the mentioned combinators appear in the following code exactly as shown, leading to potential confusion.

[2019-09-29 21:53] wi101 commented on #29
Thanks!
we can implement ‘|’ and ‘|@| using the existing methods (or and xmap I think) and adjust the example

[2019-09-29 22:20] afsalthaj commented on #29
We will be replacing <+> with |@|.

[2019-09-30 02:20] leigh-perry commented on #24
Implemented: https://github.com/zio/zio-config/pull/30/files

[2019-09-30 02:41] leigh-perry commented on #24
And followup https://github.com/zio/zio-config/pull/31

[2019-09-30 03:03] leigh-perry commented on #26
Implemented: https://github.com/zio/zio-config/pull/31

[2019-09-30 03:18] #26 closed

[2019-09-30 03:18] #24 closed

[2019-09-30 03:24] afsalthaj opened #32 "Improve microsite"
1) Better layout.
2) More accessibility to the contents with in each page.
3) Better home page (probably with images)

[2019-09-30 03:36] afsalthaj opened #34 "Design and Implement list functionality"
We will have to support reading config values as a list, and this involves a bit of design discussions, specifically about generalising the `Map[String, String]` data type at the core

[2019-09-30 05:02] pgabara commented on #28
Hi Guys, it looks like a good first issue :) Can I take it?

[2019-09-30 05:54] leigh-perry commented on #20
Implemented https://github.com/zio/zio-config/pull/35

[2019-09-30 06:17] leigh-perry commented on #20
I have implemented `NonEmptyList` as a reusable component:

[code]
and defined `ReadErrors` as a synonym.
[code]

The idea being that we might need NEL again some time.

Comments on this are welcome.

[2019-09-30 06:50] afsalthaj commented on #28
@pgabara  Sounds good. You could assign it to yourself, and then you could start doing it.
@wi101 If I am correct we are aiming for `import zio.config._, Config._` to access the above methods you mentioned and the `read`, `write`, and `report`?

[2019-09-30 07:06] afsalthaj commented on #32
@wi101
It's going to be a big task, and we need to call and discuss the standards of the microsite.
Need help here.

[2019-09-30 07:13] afsalthaj opened #36 "Add support for more than 9 parameters in ProductBuilder"
In ProductBuilder.scala, currently we support only 9 parameters in the config.
We need to extend the boiler plate to support maximum number of variables.
It is fairly straight forward to add them, but it will be manual addition.

[2019-09-30 07:21] leigh-perry commented on #20
On discussion with @afsalthaj, we decided to avoid the NEL and hardcode it for `ReadErrors`

[2019-09-30 07:23] #20 closed

[2019-09-30 08:04] wi101 commented on #28
@afsalthaj Yes, will update the descripion :-)

[2019-09-30 08:11] JonasAckermann commented on #29
Will try my hand at this later, if it's ok :-)

[2019-09-30 11:27] afsalthaj commented on #25
@wi101  For sure.

[2019-09-30 12:28] afsalthaj opened #38 "Replace WriteError with String and change ReadErrors.scala"
Rename `Errors.scala` file to `ReadErrors.scala` file;
Remove WriteError. Replace with String in places where WriteError is used.

We will change the encoding of ReadError to the following

[code]

This will make it consistent with zio

[2019-09-30 14:06] afsalthaj opened #39 "Implement xmap2Either and Sequence for Config"
Possibly include a `xmap2Either` in config data type, that is a form of invariant applicative functor that handle errors.

In Config type,

[code]

This allows us to implement the following in the companion object

[code]

This enables user  parse complicated groupings in the env. **Although, not a convincing example below, it is essential to make config traversable and allow users to do such thin

[2019-09-30 14:12] afsalthaj commented on #39
@wi101 @jdegoes  Need your comments on this :)

[2019-09-30 17:53] JonasAckermann commented on #29
Will wait for #37 to be merged before.

[2019-09-30 19:29] pgabara commented on #28
@afsalthaj thanks! I could not assign it, probably I do not have enough permissions.

[2019-10-01 02:49] afsalthaj commented on #29
@JonasAckermann Could you rename <*> to |@|.
I have reverted those change in my PR, coz that PR is actually intended for implementing only `Optional`

[2019-10-01 04:24] afsalthaj opened #41 "Make product builder work with xmapEither to avoid the existence of option.get."

[2019-10-01 05:08] pgabara commented on #25
Hi Guys, I can take this issue too as it is related to #28

[2019-10-01 05:41] afsalthaj opened #43 "Add laws for Sequence implementation"
This is related to #39

[2019-10-01 13:05] jdegoes opened #46 "Refactor module design"
Right now we use ZIO Environment for `ConfigSource`, but I think we should refactor that a bit, and use ZIO Environment directly for accessing configuration.

The most natural name to use for the module would be `Config`, probably, which would mean changing the existing `Config` to `ConfigDescriptor` or `ConfigFormat` or something similar.

Then we could construct a module like this:

[code]

Now

[2019-10-01 13:25] leigh-perry commented on #46
@jdegoes  If I interpret this idea correctly, due to referential transparency `MyConfig` would be re-evaluated each time `config[MyConfig]` is summoned?

[2019-10-01 21:28] wi101 commented on #32
I agree, it would be interesting :)

[2019-10-01 21:31] wi101 commented on #21
fixed in #27

[2019-10-01 21:31] #21 closed

[2019-10-01 23:05] afsalthaj commented on #39
Implemented in https://github.com/zio/zio-config/pull/44/files

[2019-10-02 00:51] afsalthaj commented on #46
@jdegoes
Thanks for that. It sounds  good to have the MyConfig as part of the Environment rather than the ConfigSource

To avoid the re-evaluation, lets say

[code]

And at the user site:
[code]

and in the main app:

[code]

[2019-10-02 01:31] leigh-perry commented on #46
This is part of a real-world app pattern where you want to do some relatively heavyweight setup only once as part of a _bootstrap_ phase, as shown in @afsalthaj 's comment. For example, reading config, creating a Spark session, etc.

You need to be aware that referential transparency can cause constant re-evaluation, so the bootstrap phase is to _resolve_ the program, providing it with those once-

[2019-10-02 01:39] #39 closed

[2019-10-02 07:41] mijicd commented on #12
I'd like to lend a hand with this one, perfect way to learn the lib internals :).

[2019-10-02 07:42] pgabara commented on #38
Should we wait with this issue until #46 is closed?

[2019-10-02 09:12] afsalthaj commented on #12
Thanks @mijicd 😊

[2019-10-02 11:08] jdegoes commented on #46
@jdegoes If I interpret this idea correctly, due to referential transparency MyConfig would be re-evaluated each time config[MyConfig] is summoned? (For example, re-reading a json or hocon file etc)

Yes, but in most common cases, `config` will be defined in terms of `ZIO.succeed`.

The actual _loading_ of the data occurs in the effect returned by `Config.make`, which will typically occur during s

[2019-10-02 11:39] afsalthaj commented on #46
@jdegoes that’s nice.

To reinforce my understanding,
Config.make is nothing but

read(description).provide(env).map(result => new Config{ override def Config = Zio.succeed(result)}

And user calls at this only in the main.
This means accessing MyConfig by the user anywhere from the environment is accessing a constant value. Isn’t it?

[2019-10-02 15:33] #28 closed

[2019-10-02 17:15] afsalthaj commented on #46
https://github.com/zio/zio-config/pull/50

[2019-10-03 05:06] leigh-perry commented on #36
This is implemented. Resolving scalafmt issue `[error] Search state exploded around line 251: /Users/s117476/dev/lp/zio-config/zio-config/src/main/scala/zio/config/ProductBuilder.scala`

[2019-10-03 05:16] leigh-perry commented on #36
Manually formatted ProduceBuilder.scala then excluded it from scalafmt

[2019-10-03 05:22] leigh-perry commented on #36
https://github.com/zio/zio-config/pull/52

[2019-10-03 05:27] leigh-perry opened #53 "Add tests for all the ProductBuilder arities"

[2019-10-03 06:50] leigh-perry commented on #53
Implemented https://github.com/zio/zio-config/pull/54/files

[2019-10-03 07:39] afsalthaj commented on #41
This is done

[2019-10-03 07:39] #41 closed

[2019-10-03 14:14] jdegoes commented on #46
Yes that's right, and you can see it will not be reloaded every time you access it.

[2019-10-03 17:45] wi101 commented on #29
fixed at #55

[2019-10-03 17:45] #29 closed

[2019-10-03 18:02] #38 closed

[2019-10-03 18:43] wi101 commented on #25
fixed at #47

[2019-10-03 18:43] #25 closed

[2019-10-03 19:15] wi101 commented on #25
Will be solved at #46

[2019-10-03 19:31] wi101 commented on #43
done in #44

[2019-10-03 19:31] #43 closed

[2019-10-03 21:16] wi101 opened #57 "Add Empty Config"
Remove `Pure` Config and add `Empty` Config which describes an empty configuration and preserve the type of the config

[code]

[2019-10-04 01:05] #53 closed

[2019-10-04 01:06] leigh-perry commented on #36
Included in https://github.com/zio/zio-config/pull/54 as part of conflict resolution

[2019-10-04 01:06] #36 closed

[2019-10-04 01:31] afsalthaj opened #59 "Try out the possibility of having Config.Live trait without re-evaluation of Config"

[2019-10-04 01:35] afsalthaj opened #60 "Change all examples to use zio.App instead of explicit defaultRunTime"

[2019-10-04 01:38] afsalthaj commented on #57
case class Empty[A](), interpreting it during Read can be a bit tricky.
Let's discuss.

[2019-10-04 05:44] afsalthaj opened #62 "Add property based tests for generateDocs and generateDocsWithValue"
Add property based tests for generateDocs and generateDocsWithValue functionality.

[2019-10-04 05:45] afsalthaj opened #63 "Review package object functions and finalise the API"
Remove unnecessary functions in package object.
Clean it up based on the discussions and reviews.

[2019-10-04 05:55] afsalthaj commented on #18
`Optional` and `Describe` are implemented now

[2019-10-04 05:55] afsalthaj commented on #18
`Default` is in progress

[2019-10-04 06:28] afsalthaj commented on #34
We will consider this as closed, as we have enough combinators available for the user to form a Config[List[A]]

[2019-10-04 06:28] #34 closed

[2019-10-04 22:04] afsalthaj commented on #19
this is resolved in #64

We have a new functionality `Config.int("PORT").default(80` similar to `Config.int("PORT").optional`

[2019-10-04 22:04] afsalthaj commented on #19
This is resolved

[2019-10-04 22:04] #19 closed

[2019-10-05 03:41] pgabara commented on #60
I'd like to take this one

[2019-10-05 03:51] afsalthaj commented on #60
It’s not a priority at the moment but yes assign to yourself

[2019-10-05 08:19] afsalthaj commented on #63
All cleaning up of examples will be done once this is finished.

[2019-10-05 12:31] afsalthaj opened #67 "Separate the concern of config report from read"
Currently we have a `read` that returns `ConfigReport` and `A`.
Same time we have `doc(configDesc)` that writes a man page.

What we ideally need is
`doc(configDesc, A) ` and `doc(configDesc)`, of which the first function will provide the values held by each path as well.

In that way `read` looks just simpler for the user, and avoid them working with tuple.

[2019-10-05 12:32] afsalthaj commented on #67
@wi101  @jdegoes
I think we need some help here.

[2019-10-05 12:34] afsalthaj commented on #63
I think this needs some amount of discussion and help

[2019-10-05 12:35] afsalthaj commented on #18
https://github.com/zio/zio-config/issues/67

[2019-10-05 13:46] jdegoes opened #68 "Introduce support for nested properties"
A `Map[String, String]` as the basis for properties means that no nested configuration can be supported, which is inherently anti-modular; in addition, many third-party libraries that could work well with ZIO Config support nesting (HOCON, YAML, JSON, etc.).

To support nesting, it would be necessary to transition away from `Map[String, String]` to an alternate data structure. This data structure

[2019-10-05 21:25] afsalthaj commented on #68
@jdegoes
When it comes to nested structure, should write back functionality be considering it writing back to nested structure ?

On your append and zero usage to flatten it back to map, does that consider when the value is list?

[2019-10-05 21:33] afsalthaj commented on #68
This looks really interesting, and hopefully we can have a PR soon to discuss further.

[2019-10-05 22:21] Michaelt293 opened #69 "Remove the use of hardcoded newline in `ConfigReport`"
Currently, the config report is converted to string as follows-

[code]

The use of a hardcoded newline will cause problems for Windows users. There are a couple of approaches I think we can take -

1. Still override `toString` but use ", " instead  and provide a separate method for using newlines.
2. Do not override `toString` and provide a separate method for using newlines.
3. Still override `t

[2019-10-05 23:16] afsalthaj commented on #69
I think we don’t need toString implementation at all. We can just remove it

[2019-10-06 07:48] afsalthaj commented on #60
We will change examples after the core code is in final shape

[2019-10-06 07:50] afsalthaj commented on #67
This is done in #72

[2019-10-06 07:50] #59 closed

[2019-10-06 07:51] afsalthaj commented on #57
#58

[2019-10-06 07:51] afsalthaj commented on #18
Default is done in #72

[2019-10-06 07:53] afsalthaj commented on #15
Closing this issue. withPrefix is not required

[2019-10-06 07:53] #15 closed

[2019-10-06 07:54] #11 closed

[2019-10-06 11:44] afsalthaj commented on #68
Hi John?
would you mind helping us on  integrating it with `ConfigSource`?

[2019-10-06 21:07] #69 closed

[2019-10-07 11:44] jdegoes commented on #68
The simplest possible modification to `ConfigSource`:

[code]

Runner-up:

[code]

Both have enough structure to read nested configs. The latter is a little more "elemental".

We'll have to modify some other places to support nesting when defining properties, etc.

[2019-10-07 13:26] afsalthaj opened #75 "Build set up for microsite."

[2019-10-07 13:27] afsalthaj commented on #75
Set up the sbt build for microsite.
It should be be matching with zio core library.
Once the set up is done, we will decide what exactly to document.

[2019-10-07 14:15] afsalthaj commented on #68
The only immediate issue that I could find is:
Getting a map of entire system env may go through security management exception.
while system.env(path) returning Option may still be successful.

This means forming a sys env to Property[String, string] (or even map[String, String]) can be a bit of trouble?

As of now we use zio.system.env and that works well. it either give a ReadError which can be

[2019-10-07 14:17] afsalthaj commented on #68
Or is it that, an instance of `PropertyTree[String, String]` is valid only for 1 path?

[2019-10-07 14:18] afsalthaj commented on #57
@wi101  i think we merged this. Hence closing this :)

[2019-10-07 14:18] #57 closed

[2019-10-07 14:19] afsalthaj commented on #46
This was implemented (exactly the same pattern) in #72

[2019-10-07 14:20] afsalthaj commented on #46
Reopening, since we can keep this for another round of review during direct-discussion.

[2019-10-07 19:56] mijicd commented on #75
I recommend to take a look at `zio-nio`, as this is the setup you want to have. The core library is very similar, but the pages are set slightly differently.

[2019-10-07 20:32] #67 closed

[2019-10-07 20:32] #18 closed

[2019-10-08 11:05] afsalthaj commented on #68
What could be a proper interface to talk about nested strucuture from a user perspective.

[code]

val result = read(config).provide(hocconSource) === Prod(...)
write(config, result) ==
[code]
This allows user to write a valid hoccon, that could be read by some other application expecting the hoccon source.

[2019-10-08 11:10] afsalthaj commented on #68
Users can also choose to have

[code]

In this case, Writing it back to a PropertyTree (hoccon, for instance) can turn out to be a bit fragile?

[2019-10-08 11:23] afsalthaj commented on #68
@jdegoes The way we see it as, the description of the config `ConfigDescriptor` should say that, hey, this is a nested config u r expecting - probably it is a hoccon, json, or yaml source?

[2019-10-08 11:39] afsalthaj commented on #68
In both approaches, it will be `PropertyTree` that's our initial structure.

[2019-10-08 11:49] jdegoes commented on #68
You need something like:

[code]

The type will be:

[code]

It will require a new case in the `ConfigDescriptor` enumeration.

[2019-10-08 11:51] jdegoes commented on #68
By the way, we can do nested even with flat properties.

I used to see this format all the time with Java properties:

[code]

With environmental variables you sometimes see `JAVA_ENV`, `JAVA_HOME`, etc.

Because `ConfigDescriptor` is just data, we can translate the nesting into any format we want.

[2019-10-08 11:53] jdegoes commented on #68
This implies `ConfigSource` should not support enumeration, e.g. be like:

[code]

[2019-10-08 11:56] afsalthaj commented on #68
Sure. In any case, it seems we need a new node `Nested` in `ConfigDescriptor`.

[2019-10-08 11:58] jdegoes commented on #68
@afsalthaj Yes, that's a great & safe start, since we know we'll need it and what the type should be.

[2019-10-08 11:59] afsalthaj commented on #68
Exactly. And what I can see right now before I start development,
Whenever program encounters Nested, it accumulates the `path` which is then used to go to deep into the `PropertyTree`, to fetch the `final` value.

Will need to start scratching with the code now.

[2019-10-11 22:07] afsalthaj commented on #60
Reopen this issue, and good to go once #78 is merged

[2019-10-11 22:13] #17 closed

[2019-10-11 22:14] afsalthaj commented on #17
This is closed in #78

[2019-10-11 23:19] Michaelt293 opened #81 "Combining ConfigSources"
`zio-confing` currently lacks functionality to compose config sources.  I believe it would be advantageous for users to be able to create new config sources by composition. This would allow, for example, a user to override a config setting from a file using a system property.

A work in progress PR has been opened-
https://github.com/zio/zio-config/pull/80/files

[2019-10-11 23:30] afsalthaj commented on #81
This sounds good.
 Composing sources to form a structure that also represents the priority of sources.

[2019-10-13 00:55] afsalthaj opened #86 "Add property tests for nested config"
Take a look at NestedConfig example, and bring more property laws for it.

[2019-10-13 23:36] #12 closed

[2019-10-14 01:55] afsalthaj commented on #68
Fixed in #78

[2019-10-14 01:55] #68 closed

[2019-10-14 02:44] afsalthaj opened #87 "Should we have a syntax for nested ?"
As of now, describing a nested config is
[code]

Should this be  somthing like

[code]

@jdegoes  ?

[2019-10-15 21:00] afsalthaj commented on #75
@mijcd I have followed zio-nio.
Could you help publishing (if it’s about pushing to  a separate branch gh-pages etc) an initial version. #90

[2019-10-15 21:02] mijicd commented on #75
@afsalthaj I'll take a look at it first thing in the morning!

[2019-10-15 21:03] afsalthaj commented on #75
Thanks @mijcd. Sounds great :)

[2019-11-22 15:15] afsalthaj opened #114 "Report the exact source the Config value came from"
Probably report the source during the read as well as a tuple.

[code]

@jdegoes This can be a quite nice way of putting it through within a couple of hours. I liked about it is, we still keep orthogonality. What the opinion?

[2019-11-26 02:09] #87 closed

[2019-11-26 02:10] #81 closed

[2019-11-26 02:10] #75 closed

[2019-11-26 02:11] #60 closed

[2019-11-26 02:11] afsalthaj commented on #46
This is done!

[2019-11-26 02:11] #46 closed

[2019-11-26 02:13] afsalthaj opened #121 "Automatic config description using Magnolia"

[2019-11-26 13:41] Hoffmannxd opened #122 "Support for refined types?"
Is desirable to have this feature?

[2019-11-27 00:08] afsalthaj commented on #122
I think this will be useful feature to have.
As of now, we are relying on Magnolia to make deriving the descriptions
automatic. Let's have this issue open, for further discussions.

On Wed, Nov 27, 2019 at 12:41 AM Matheus Hoffmann <notifications@github.com>
wrote:

[2019-11-27 03:02] paulpdaniels opened #123 "Support for standard configuration format"
One piece that is missing for us to look into adopting this library is support for the typesafe configuration [format](https://github.com/lightbend/config#standard-behavior). It was alluded to in the doc pages (that more formats were coming) but that format would be high priority for us.

[2019-11-30 04:08] afsalthaj commented on #123
We will definitely have integration with typesafe config formats, as well as reading hoccons !

[2019-12-01 10:12] afsalthaj opened #127 "Make optional config, fail for parse errors instead of returning None"
Example:

[code]

[2019-12-01 12:53] bblagojevic94 commented on #86
@afsalthaj
I could pick this one.

[2019-12-01 13:06] drmarjanovic commented on #127
@afsalthaj, I would like to take this issue if you agree?

[2019-12-02 04:48] leigh-perry commented on #122
I should be able to find time for this one.

[2019-12-02 04:48] afsalthaj commented on #122
Thanks @leigh-perry for taking it up.

[2019-12-03 19:56] afsalthaj opened #129 "Integration with type safe config"
* Being able to read and write hoccon
* Being able to support for all type safe config formats.

zio-config, from its design, already support nested formats. For the same reason, there shouldn't be any major roadblock towards this integration. This is probably high priority issue.

[2019-12-03 22:15] afsalthaj commented on #127
@drmarjanovic  I think I missed out your message. Sorry for late response.
Ofcourse, please take it up .Thanks.

[2019-12-03 22:15] afsalthaj commented on #127
Feel free to ping me in discord or here anytime.

[2019-12-03 22:20] afsalthaj opened #130 "Convert PropertyTree to Json/Hoccon/Key-value"
@jdegoes As of now `write` function returns a PropertyTree.
By write, I think, what we need is `write(config, value).asHoccon` or `write(config, value).asJson` and `write(config, value).asMap`, of which the last one already exists. Does this issue sound reasonable?

[2019-12-03 22:48] afsalthaj opened #131 "Convert ConfigDocs to Readable formats"
As of now, `generateDocs` and `generateDocsWithValue` returns `ConfigDocs`, a datastructure that sort of act as a manpage and report respectively. We need to pipe this to much more readable format.
1. Markdown
2. A simple json (EDIT: deprioritised)
3. Help Page
4. Or a simple table.

In-fact, we need support for all of it..

[2019-12-03 22:58] afsalthaj commented on #123
This is being tracked here:
https://github.com/zio/zio-config/issues/129

[2019-12-04 04:28] afsalthaj commented on #121
This is covered in #126

[2019-12-05 00:49] leigh-perry opened #135 "`ConfigDescriptor.sequence` returns elements reversed"
Also called `collectAll`

This behaviour is visible here:
https://github.com/leigh-perry/zio-config/blob/master/examples/src/main/scala/zio/config/examples/SequenceExample.scala#L44

Fix available.... change foldLeft to foldRight

[2019-12-05 00:50] leigh-perry commented on #135
Raising PR now

[2019-12-05 01:19] leigh-perry commented on #135
Merged

[2019-12-05 01:19] #135 closed

[2019-12-05 10:30] ignaciomosca commented on #131
Onto it

[2019-12-08 07:29] #62 closed

[2019-12-08 07:29] #63 closed

[2019-12-08 07:33] afsalthaj commented on #32
This is in progress in branch magnolia. However we need to update for zio-config-refined and zio-config-magnolia

[2019-12-08 22:24] jdegoes opened #142 "Change doc operator to `??`"
The doc operator is `?`, I suggest changing to `??` to make it less common and compatible with ZIO Test, which uses `??` for adding annotations to assertions.

[2019-12-10 04:07] leigh-perry commented on #142
Implemented https://github.com/zio/zio-config/pull/145

[2019-12-10 04:08] #122 closed

[2019-12-10 05:28] afsalthaj commented on #142
@leigh-perry approved and merged. Thanks @jdegoes for raising this issue.

[2019-12-10 05:50] leigh-perry commented on #142
Merged

[2019-12-10 05:50] #142 closed

[2019-12-10 05:55] afsalthaj opened #146 "Implement automatic derivation of list for zio-config-magnolia"

[2019-12-10 09:57] jdegoes opened #147 "Reorganize top-level directory naming to be consistent with ZIO"
Because this project is ZIO Config, the top-level project names could be shortened / simplified to match ZIO conventions, e.g.:

 - `zio-config` => `core`
 - `zio-config-refined` => `refined`
 - etc.

[2019-12-10 10:39] jdegoes opened #148 "Improve organization and content of microsite"
Some ideas can be found [here](https://pureconfig.github.io/docs/index.html) in PureConfig which does a pretty good job organizing content.

Some ideas:

 - Central link on the home page should be "quick start", and it should be a short 1 page file with the bare minimum necessary to get someone started. There will be very little explanation, mostly very tiny code snippets and 1-3 sentences for eac

[2019-12-10 10:54] afsalthaj commented on #147
Will do this

[2019-12-14 08:54] afsalthaj commented on #147
In here, https://github.com/zio/zio-config/pull/150

[2019-12-14 09:55] #147 closed

[2019-12-17 14:17] jdegoes commented on #148
@afsalthaj It could be useful to split this ticket up into subtickets, too.

[2019-12-19 00:47] afsalthaj opened #154 "Bug in system property config source"
System property is delegated to system env itself, and this is a bug

[2019-12-19 00:48] afsalthaj commented on #148
@jdegoes Sure, that's a good idea

[2019-12-28 14:11] afsalthaj commented on #121
Issue is still open as the tests are missing

[2019-12-29 23:19] #154 closed

[2019-12-29 23:20] afsalthaj commented on #154
Closed as part of #159

[2019-12-29 23:21] afsalthaj opened #161 "Inconsistent tests for zio.config.CoproductTest"
[code]

[2019-12-30 13:29] afsalthaj opened #163 "Bug in Magnolia Coproduct Handling when writing back the config"
When writing back the config, we end up in a situation where the first config description's write is executed regardless of the type.

More details on this issue soon.

[2019-12-30 13:30] afsalthaj commented on #161
This is fixed in #162

[2019-12-30 13:30] #161 closed

[2019-12-30 13:31] afsalthaj commented on #146
This is in progress in `impl_list` branch. There are a few challenges here, and might require more time.

[2019-12-30 23:06] afsalthaj commented on #129
In progress in branch impl_list

[2019-12-30 23:06] afsalthaj commented on #130
KeyValue is already implemented using `flattenString`

[2019-12-30 23:07] afsalthaj commented on #130
Json and Hoccon can be made available in type safe module

[2019-12-30 23:22] jdegoes commented on #130
Agreed, although I'd do `to` instead of `as` because `as` implies "view" but immutable data is more like "conversion".

We can add these as syntax via the separate modules...

[2020-01-01 15:18] jdegoes opened #166 "Support annotations for Magnolia-based deriving"
Could support a `@describe` annotation applied to terms in a product (fields in a case class), terms in a sum (subtypes of a sealed trait), and both products (case class annotation) and sums (sealed trait annotation). Currently descriptions can only be attached programmatically with the value-based DSL, this would allow them to be used with Magnolia-based deriving.

[2020-01-02 23:47] afsalthaj opened #168 "Find a better type of Config Errors instead of List"
Currently ConfigErrors return a `::(ReadErrors)`. This will not address coproducts (the situations of `OrElseEither`).

Probably we need something along these lines (pseudo code) while emitting the error message

[code]

[2020-01-03 06:44] afsalthaj opened #169 "Incorporate round trip tests for all inbuilt property types"
We need a proof that we are writing what we read. The foundation of all `writes` in zio-config is PropertyType. Hence we need tests for all the types that we define within property type.

[code]

Examples for which the types can go wrong is "duration"
[code]
I will consider this issue as one of the higher priority one, and is a very good first issue.

[2020-01-03 07:35] zach-albia commented on #169
Working on it.

[2020-01-03 10:34] afsalthaj commented on #163
Update: This is fixed in impl_list branch.

[2020-01-03 10:35] afsalthaj commented on #146
Update: This is done in impl_list branch

[2020-01-04 04:36] zach-albia commented on #169
@afsalthaj what behavior are we expecting `PropertyType`s to have? For instance, should a roundtrip of `"3 day"` yield `"3 day"` instead of `"3 days"`? Is `"3 days"` really wrong? I've also discovered similar cases where a `BigInt` string like `"005"` would roundtrip into `"5"`. There's also the issue of the lack of precision when doing roundtrips on floating point values, though, I guess clients

[2020-01-04 06:52] afsalthaj commented on #169
Probably, in these scenarios, (where a difference is actually ok), we
should read the written value again to see if there is any difference from
the initially read value.

For certain types, even this property won’t be a success, and in such
situations, the only option is to skip those types.

On Sat, 4 Jan 2020 at 3:36 PM, Zachary Albia <notifications@github.com>
wrote:

[2020-01-04 06:59] zach-albia commented on #169
should read the written value again to see if there is any difference from
the initially read value.

Here's the generic assertion I wrote to this effect:

`assert(roundTrip(propType, s).map(parse), isRight(equalTo(parse(s))))`, where `s: String` and `parse: String => A`.

situations, the only option is to skip those types.

Understood, I'll see how far it goes.

[2020-01-04 14:22] afsalthaj commented on #169
@zach-albia Nice one

[2020-01-04 15:19] #86 closed

[2020-01-04 23:56] #163 closed

[2020-01-05 00:19] #129 closed

[2020-01-05 00:19] #146 closed

[2020-01-05 00:19] afsalthaj commented on #123
Typesafe integration is merged.

[2020-01-05 00:19] #123 closed

[2020-01-05 00:20] afsalthaj commented on #131
@ignaciomosca Any updates on this?

[2020-01-05 00:21] #121 closed

[2020-01-05 06:56] afsalthaj commented on #148
@jdegoes , I think we are good without splitting the tasks after giving a giving a kickstart to re-organising the website.

The commits can be seen in `documentation` branch
https://github.com/zio/zio-config/tree/documentation

[2020-01-05 11:52] jdegoes commented on #168
You want to keep track of the distinction between "all of these need to succeed" and "one of these need to succeed"? If so I can show you the structure that can do that.

[2020-01-05 11:54] afsalthaj commented on #168
@jdegoes yes. That’s what I am looking for.

[2020-01-05 11:58] afsalthaj commented on #32
This is being addressed as part of #148. Hence closing this one

[2020-01-05 11:58] #32 closed

[2020-01-05 12:09] jdegoes commented on #168
[code]

[2020-01-05 15:34] ignaciomosca commented on #131
No updates. I got blocked regarding how to serialize to json without depending on other libraries. Do you have any plans on what to use to serialize to json?

[2020-01-05 23:27] afsalthaj commented on #166
This can be done fairly quickly as magnolia API does support it.

[code]
Probably need to do certail low level cast operations such as `annotations.filterNot(_.isInstanceOf[scala.SerialVersionUID])`, or may be `filter(_.isInstanceOf[DescriptionAnnotation])`

[2020-01-06 01:17] afsalthaj commented on #131
@ignaciomosca , Let's reprioritise JSON representation of documentation if that's a blocker. We have other formats that we need, such as tables (probably this is already done in libraries like clear-config) and we surely need it.

Let me know if you would like to work other formats listed above.

[2020-01-06 01:22] afsalthaj commented on #131
I also don't think we need any external dependencies to write a `https://github.com/zio/zio-config/blob/master/core/src/main/scala/zio/config/ConfigDocs.scala` .
There must be some way to track states to see the list of descriptions associated and the documentation tabs.
 So probably you can either use ZIO.Ref although it may turn out to be an overkill, because we are end of the day producing a st

[2020-01-06 01:25] afsalthaj commented on #131
@jdegoes Any inputs here?

[2020-01-06 01:27] afsalthaj commented on #168
@jdegoes The only concern is we then have a list being represented as nested `Both`.
Could we simplify `Both[E]` to be just `ListOfError[E]` and each error can be `OneOf` or `One`

[2020-01-07 10:45] afsalthaj opened #174 "Bug in flattenString() when there is multiple values for same key"
Ensure the order
Ensure all elements are captured during write

[2020-01-07 10:46] afsalthaj opened #175 "Test list of primitives in type safe config"

[2020-01-07 14:27] afsalthaj commented on #175
#176

[2020-01-07 14:30] afsalthaj opened #177 "Convert FatalError to CustomError"
ReadError can happen across two phases.
Let's example with an example:
It can happen when reading a file, or when trying to get a value given a key after the file is parsed. This becomes a valid scenario when it comes to handling Hoccon files.
Will it be ok to add `FatalError` as part of `ReadErrors` that may not be associated with a key.? Or should we lift everything to just `Throwable` and retur

[2020-01-07 14:36] jdegoes commented on #131
I would create a very lightweight format to describe the basic structure of a rendered document, including tables, headers, lists and bold/emphasis. Then render to that, and add methods to convert to markdown strings, json strings (no libs), plaintext, html, etc

[2020-01-08 10:27] #169 closed

[2020-01-08 23:54] jdegoes commented on #177
Probably best to return `Throwable` in cases where the error is truly unknown. You can make the custom errors extend that. Maybe some methods could stay specific...

[2020-01-09 00:34] #175 closed

[2020-01-09 00:36] afsalthaj commented on #177
Ok, currently a couple of functions returns Throwable as the `E` in ZIO, and it may include a list of read errors as well, along with the possibility of some unknown error cases. I think we will keep it as it is.

[2020-01-09 00:37] afsalthaj commented on #131
Awesome, sure it makes sense.

[2020-01-10 11:19] jdegoes opened #182 "Cross-compile for Dotty"

[2020-01-11 04:29] afsalthaj commented on #182
@jdegoes unfortunately magnolia doesn’t support 2.11. We will miss auto configuration when it is 2.11

[2020-01-11 12:40] jdegoes commented on #182
@afsalthaj That's ok, auto-derivation is nice but not essential. The ordinary API is pretty minimal as it is.

[2020-01-12 07:19] afsalthaj commented on #166
#185

[2020-01-12 07:21] pme123 opened #186 "Support of Map[String, V]"
I am working with _PureConfig_.They have great support for a lot of Types:

See https://pureconfig.github.io/docs/built-in-supported-types.html

I couldn't migrate to _zio-config_ because `Map[String, String]` was missing.

Is it possible to support `Map[String, V]` like in _PureConfig_:

[2020-01-12 07:32] pme123 commented on #130
I think HOCON only can write a JSON.

Here is an output example:
[code]
I used it here https://github.com/pme123/zio-comps-module

[2020-01-13 00:17] afsalthaj commented on #186
This is possible, as zio-config is designed in a way considering all these cases from ground up. I will take this up. Thanks @pme123 for reporting this one.

[2020-01-13 00:20] afsalthaj opened #188 "Failed tests when updating magnolia to 0.12.6"

[2020-01-16 00:36] forficate opened #190 "Proposal: rename zio.config.Config to ZIOConfig"
I am not too sure if this is too late being RC and a breaking change.

Renaming `Config` to `ZIOConfig` will help with import / namespacing ergonomics.

In my applications, I'll often have a case class named `Config` which means I would need to do something like` import zio.config.{Config => ZIOConfig}`, which is an extra step that wouldn't be required if we renamed zio.config.Config to something

[2020-01-16 22:25] afsalthaj commented on #190
@forficate we can still have breaking changes. We are not late.  RC and

[2020-01-18 10:44] afsalthaj opened #193 "Bug when fetching list of products when the product has optional values in it"
This is applicable in `zio-config-typesafe`
There is an issue when fetching list of case classes, such that if one of the field in the case class is None, reading the config gives wrong results. See the below example

[code]

[2020-01-19 21:23] afsalthaj commented on #193
This is mainly due to the fact that typesafe config implementation fail early when trying to fetch a list of values after identifying the valueType is a list. It fails, when it hits a `null` which wasn't handled.

This indicate that fetching a value for a key need to return ::[Option[A]] and not necessarily ::[A]. The option is required to indicate that one of them is `null` (In the above example

[2020-01-24 00:46] forficate opened #195 "ConfigDocs.Details.descriptions returns List[String] making it hard to generate nice messaging"
When inspecting "ConfigDocs" to generate some configuration help text when you call `Details.descriptions` you get a `List[String]` back, which looks like `List(<empty>, value of type string)`.

The `<empty>` string looks to be the `ConfigSource` the value may be sourced from if set and `value of type string` the `ConfigDescriptor.description`.

It would be useful instead of returning `List[String

[2020-01-25 13:30] afsalthaj commented on #195
@forficate
I think this distinguision is already in master, but not yet released?
https://github.com/zio/zio-config/blob/master/core/src/main/scala/zio/config/ConfigDocs.scala#L15 ?

Let me know if this is the suggestion

[2020-01-25 22:21] afsalthaj commented on #193
An initial version is here:
https://github.com/zio/zio-config/blob/3876998d79731955bf01fce783a13ee30acf25c5/examples/src/main/scala/zio/config/examples/typesafe/NullAndOptionalConfig.scala

[2020-01-27 13:28] afsalthaj commented on #193
#197

[2020-01-29 14:25] afsalthaj commented on #127
This is now being tracked here, with errors being typed in a better way
https://github.com/zio/zio-config/blob/fix_list_bug/core/src/main/scala/zio/config/ReadFunctions.scala#L115

[2020-01-29 14:36] afsalthaj commented on #127
A few behaviours such as;
Optional:
If there is a parse or unknown error occurred for a key, then its `optional` node will still return error.

OrElseEither: Either[A, B]
If there is any error, parse error or missing value when trying to get, then OrElseEither node tries if it can produce B. For unknown errors, it will avoid trying to get B

`Example: string("key1").orElseEither(int("key2"))`

OrE

[2020-02-01 08:17] afsalthaj commented on #168
Tracking this in fix_list_bug branch
https://github.com/zio/zio-config/tree/fix_list_bug

It is currently very unpleasant code, and not in a state to raise PR. However, keeping a note here to avoid duplicate work.

[2020-02-02 06:43] afsalthaj opened #200 "Missing API docs"
Need help in documenting each exposed function to be exposed in Scala doc.

[2020-02-03 20:44] jdegoes commented on #190
`ZConfig` perhaps

[2020-02-05 08:14] Maatary opened #202 "General question"
Hi,

First, could you please let me know where can i ask question about the library ? is it here or you have a dedicated channel ?

Second, my actually question, Is Zio Config, meant to replace/compete with circe ? Would it be possible at some point to use it as a json massaging library as we do with circe ?

[2020-02-05 08:22] #202 closed

[2020-02-05 12:39] afsalthaj commented on #202
Hi,

@Maatary  I can see a question being closed 4 hrs ago. However, I believe I should answer it. Thanks for raising this question. It was actually a good one.

1) There is a dedicated channel for zio-config, where you can see active discussions
https://discordapp.com/channels/629491597070827530/633028431000502273
The same link is provided in the README of the library, which opens the door to who

[2020-02-08 12:28] fsvehla commented on #186
@afsalthaj Are you working on this? If not I’d like to take it

[2020-02-14 07:13] afsalthaj commented on #186
@fsvehla sorry for late response as I was on my holidays. I am not currently working on it however the current PR which I have raised (it’s in ugly state now) kind of opens the door to support for map. Would you mind giving me some more time before I confirm that you could start working on it?

[2020-02-14 10:25] fsvehla commented on #186
Sure

[2020-02-15 17:57] afsalthaj opened #204 "Bug when there is value that is a list of primitives , that exists inside another list of configs"
More details to be updated.

As a short summary, the situations where we had F[F[F_..., there was issues when zipping, orElse and orElseEither. This was a bug in logic, and is fixed in #199

[2020-02-15 18:00] afsalthaj commented on #204
This will be released immediately along with the support to Map.

All those users who were waiting for the functionality of Map #186 had to wait for this bug to be fixed.

[2020-02-20 00:34] afsalthaj commented on #166
Closing this one as we fixed this issue

[2020-02-20 00:35] #166 closed

[2020-02-20 00:36] afsalthaj commented on #148
The above changes were actually made and merged

[2020-02-20 00:37] afsalthaj commented on #148
Will close the issue, once we review with @jdegoes

[2020-02-20 00:45] afsalthaj opened #205 "Index missing value errors"
As of now, the missing values are not indexed.

A key can exist in multiple places within a config, and user might be expecting values to exist in all these positions. This can happen regardless of the config source, although, it is more relevant to hocon files.

[code]

regions are missing from two positions, and hence the errors should be:

[code]

[2020-02-21 11:29] egast opened #206 "NoSuchElementException when deriving ConfigDescriptorProvider for case object"
When automatically deriving a `ConfigDescriptorProvider` for a `case object` a `java.util.NoSuchElementException: head of empty list` exception is thrown. The issue seems to be in the `ConfigDescriptorProvider.combine` method where it is trying to collect `ConfigDescriptorProvider`'s for all parameters in a `case class`. Since a `case object` does not have any parameters and the `head` function is

[2020-02-23 08:22] afsalthaj commented on #206
Yes, this is on my radar, and will be fixed quickly.
As soon as the experimental tag is removed from magnolia module, and the entire project goes to 1.0 release, we will be making sure there is no unsafe operations to get non-emptiness behaviour

[2020-02-23 08:22] afsalthaj commented on #206
@egast  Thanks for reporting!

[2020-02-29 12:13] devsprint opened #208 "Typesafe config enhancement"
Most of the projects that are relying on Typesafe config library are using the default loader:
`ConfigFactory.load()`.

Having the factory method in TypesafeConfig it will help and simplify the adoption of zio-config in existing projects.

[2020-03-01 09:45] afsalthaj commented on #208
@devsprint  Thanks

In fact, type safe module is in its experimentation stage, and as soon as we have 1.0 release, we will have to cover more details of type safe by then. Hence, always good to get these type of PRs. Thanks!

[2020-03-01 22:51] afsalthaj opened #210 "Tag typesafe module as experimental until we have more tests"
Typesafe module is still an experimentation done with zio-config, although we could get positive responses of using the module.

Currently, we are looking through all the complications and corner cases with hocon structure and making necessary changes to this module. Some of the issue fixes are in progress, as a long-running PR to let the users know of the actual progress.

Long story short, until

[2020-03-03 22:23] softinio opened #211 "Reduce circleci resource type from `large` to `medium`"
Please change circleci resource type to `medium` as the project of this type doesn't need the extra cost of a `large`

https://github.com/zio/zio-config/blob/master/.circleci/config.yml#L19

[2020-03-04 13:51] cdelmas opened #216 "Upgrade to zio 1.0.0-RC18"
There are some incompatibilities when trying to use the current zio-config version with the brand new zio 1.0.0-RC18. I get this error (I upgraded my app to the latest zio this morning)
[code]

I forked the project, and trying to compile with RC-18 leads to some errors:
[code]

[2020-03-04 14:45] iyerland commented on #206
I can work on this @afsalthaj

[2020-03-04 15:12] softinio commented on #211
Resolved by #215

[2020-03-04 15:12] #211 closed

[2020-03-06 01:15] afsalthaj commented on #206
@iyerland  Fantasitc. Looking forward.
There are a few design changes coming in, but it shouldn't matter to magnolia code base.
Ask me any help.

The only thing that kind of burns me with `case object` is, it will come with surprises.

Such as `lower case values in congig string` correspond to the `camel case` in case object definitions. I request you to stick on to least surprise principle, and a

[2020-03-12 23:17] afsalthaj commented on #216
This is done

[2020-03-12 23:17] #216 closed

[2020-03-14 01:07] afsalthaj opened #222 "Include tests that use zio-test polymorphic generators"

[2020-03-14 01:27] afsalthaj opened #223 "Pretty print the errors (may be) similar to zio.Cause"
Prettyprint ReadErrors

[2020-03-14 01:50] afsalthaj opened #224 "Simplify case classes with only 1 parameter (and also revisit `|@|`)"
As of now, it confuses user between case classes with single parameter and case classes with multiple parameters

[code]

vs

[code]

We should make the latter look like the former, and think about much more better way of forming the product, such as the following:

[code]

or

[code]

Let's have a discussion below

[2020-03-24 22:05] afsalthaj commented on #224
Resolved in https://github.com/zio/zio-config/releases/tag/v1.0.0-RC13-1

[2020-03-24 22:05] #224 closed

[2020-03-27 12:13] DamianReeves commented on #182
So what needs to happen to get this working? I'd love to use `zio-config` in a Spark application which is stuck on Scala 2.11. Willing to create a PR with some guidance.

[2020-03-31 03:08] afsalthaj commented on #206
@egast
If you are blocked by any chance, please use explicit instances of the case objects. We have been pretty busy with another PR, and hasn't got the time to look at the issue.

See below:

[code]

[2020-03-31 03:10] afsalthaj commented on #206
In the next release, you won't be needing to write this boilerplate,  along with other changes. And thats 1.0

[2020-03-31 13:44] afsalthaj commented on #206
Fixed in #236

[2020-03-31 13:45] afsalthaj commented on #206
Fixed this in #236

https://github.com/zio/zio-config/pull/236/commits/8241954b208752a7bea1c0692faf933742f99c0c

[2020-03-31 13:57] afsalthaj commented on #210
In progress in #236

[2020-03-31 13:57] #177 closed

[2020-03-31 13:58] afsalthaj commented on #127
Fixed in #236

[2020-03-31 13:58] afsalthaj commented on #204
Fixed in #236

[2020-03-31 13:59] afsalthaj commented on #193
Fixed in #236

[2020-03-31 13:59] #188 closed

[2020-03-31 16:19] jdegoes commented on #208
Fixed in #208

[2020-03-31 16:19] #208 closed

[2020-04-01 00:41] jdegoes opened #238 "Change name of deriver"
In ZIO Test, we use `DeriveGen[Person]` to derive the `Gen` for `Person`.

If we follow that pattern here, it will be:

`DeriveConfigDescriptor[Person]` instead of `DeriveConfigDescriptor.descriptor[Person]`.

[2020-04-01 04:46] #127 closed

[2020-04-01 04:46] #204 closed

[2020-04-01 04:48] #210 closed

[2020-04-01 04:48] afsalthaj commented on #206
Merged and released v1.0.0-RC14

[2020-04-01 04:48] #206 closed

[2020-04-01 04:48] #193 closed

[2020-04-01 04:49] afsalthaj commented on #168
Fixed in #236

[2020-04-01 04:49] #168 closed

[2020-04-01 04:51] afsalthaj commented on #182
Yes, we do understand this scenario. However, current builds in zio projects couldn't be customised per scala version.

I will take this up with higher priority

[2020-04-01 04:52] afsalthaj commented on #174
Fixed in #236

[2020-04-01 04:52] #174 closed

[2020-04-01 14:27] jdegoes opened #240 "Support other common data types"
- `UUID`
 - `Duration` / `FiniteDuration` (ZIO)
 - `LocalDate`
 - `LocalDateTime`
 - `LocalTime`
 - `Instant`
 - `URL`
 - `Boolean` (supporting things like `true` / `1` / `on`, and `false` / `0` / `off`)
 - `File`
 - `Path`
 - `BigInteger`
 - `BigDecimal`
 - All primitives (`Short`, `Byte`, etc.)
 - Tuples
 - Sets

Any others?

[2020-04-01 15:32] #238 closed

[2020-04-02 06:21] afsalthaj opened #243 "Add tests for Config.fromSystemEnv and Config.fromSystemProperties"
We have tests for ConfigSource.fromMap, which  `Config.fromSystemEnv` and `Config.fromSystemProperties` internally uses.

We need some tests specific to sys.env, and sys.properties

[2020-04-03 04:07] afsalthaj opened #244 "Document how to keep a consistent config description regardless of changing config source over time"
One of the features of zio-config is being able to support nesting regardless of the config source.
Another way of to look at this feature is, users don't need to touch their config description (or case class structures especially when using zio-config-magnolia) when they change the config source.

For isntance, many users rely on sys.env while they conceptually have nesting in their config. Some

[2020-04-04 06:52] leigh-perry opened #246 "Accumulate list contents by multiple cmd line args with same key"

[2020-04-04 23:15] leigh-perry commented on #246
[code]

This test shows that it currently does not accumulate multiple arguments.

This issue came out of a discussion with @afsalthaj . We need to consider whether that functionality is desirable, vs using a single delimited value, or that it justifies the development effort.

[2020-04-05 09:28] afsalthaj opened #248 "Make ConfigSource.fromArgs pure and not returning UIO"

[2020-04-06 02:59] afsalthaj opened #251 "Document command line argument source"

[2020-04-06 03:00] afsalthaj opened #252 "Add capability to search for sources (or quick access to sources) in website home page"

[2020-04-06 05:21] afsalthaj opened #253 "Find ways if scastie in README can automtically update the build"

[2020-04-06 10:03] #246 closed

[2020-04-06 11:25] senia-psm opened #254 "Invalid derived ConfigDescriptor for nested sealed traits"
Version: 1.0.0-RC15

**Classes:**
[code]

**Expected behavior:**
This configuration should produce an instance of `Cfg` when parsed with `DeriveConfigDescriptor[Cfg]`
[code]

**Actual behavior:**
Error produced:
[code]

For some reason expected config string is:
[code]
Note upper case `X` and `fieldName` inside `X`.

[2020-04-06 11:30] afsalthaj commented on #254
Looking at it now.

[2020-04-06 11:35] afsalthaj commented on #254
@senia-psm
For the time being, if you are blocked, please use

[code]

I will be fixing the issue soon.

[2020-04-06 11:44] afsalthaj opened #255 "Support automatic derivation for recursive structure"
Currently the config descriptor gives stack overflow for recursive structures

[code]

[2020-04-06 12:09] senia-psm commented on #254
@afsalthaj thank you!
Please note that there are several issues related to `Coproduct`.
For instance:
Correct:
[code]
Incorrect:
[code]

Another issue:
[code]

Should I create all these issues or wait for this issue fix and retest?

[2020-04-06 12:17] afsalthaj opened #256 "Move all of the magnolia-typesafe examples to tests"
This can reside in either magnolia module or type safe module.
Let's choose typesafe module, and have it dependent on magnolia.

[2020-04-06 15:03] senia-psm opened #257 "No ConfigDocs.List node."
There is no such node as `ConfigDocs.List` to describe list of elements.
There is also no `ConfigDocs.Map` node to describe generic `Map`.

[2020-04-06 15:25] senia-psm opened #258 "No way to describe ConfigDescriptor without path"
There is no way to describe ConfigDescriptor without path.
So in case of complicated map elements there is code duplication:
In the simplest case it would be something like this:
[code]
For more complicated case, like "treat list of strings as list of case objects in sealed class hierarchy" there would be a lot more cases with `orElse`.

This issue related to #257 - it's not so easy to create docu

[2020-04-06 15:54] afsalthaj commented on #257
Map isn’t implemented yet

[2020-04-06 15:58] afsalthaj commented on #258
Map isn’t implemented yet. You wouldn’t need to implement by yourself on this.

For very complicated case, use magnolia.

@jdegoes would you like to add some points to this

[2020-04-06 16:08] senia-psm commented on #257
@afsalthaj Map isn’t implemented^ but what about List?

[2020-04-06 16:10] senia-psm commented on #258
@afsalthaj We just discussed it on discord and there is no way to implement it with current `DeriveConfigDescriptor`

[2020-04-06 16:13] afsalthaj commented on #257
That was `close-and-comment` issue!
The issue is open.

[2020-04-06 16:20] afsalthaj commented on #258
@senia-psm

Let's describe config for list of element without path to list, not using zio-config, but just using the basic typesafe-config library.
https://github.com/lightbend/config.

[code]

By default (meaning, using the apis),
typesafe-config gives a failure for the above config.

The following is the error

[code]

Let's try this one.   Let's describe config for list of element without path

[2020-04-06 16:22] afsalthaj commented on #258
@senia-psm

I didn't get you. There is no way we could implement?

[2020-04-06 17:09] senia-psm commented on #258
@afsalthaj we discussed on discord that there is no way to read `list = ["a", "c", {d: {s: "s"}}]` with `DeriveConfigDescriptor`.

[2020-04-06 17:10] jdegoes commented on #258
@senia-psm Creating config descriptors without a path sounds like it would be useful indeed.

Now, the tradeoff is as follows: if a config descriptor needs no path, then it's possible the user can try to read the config descriptor directly, without wrapping it into a record that has a path. In such a case, there is no way to provide any useful semantic atop property files, command-line arguments,

[2020-04-06 17:20] senia-psm commented on #258
I don't want to use Description for list without path to parse a root node.

I'd prefer to be able to work with 2 kinds or `Description`: `Descritpion` that can parse any kind of node and `ODescription` that can parse only object nodes. Just like `Format` and `OFormat` in `play-json`.

For example `Config` in `typesafe` is just a `Map[String, ConfigValue]` and `ConfigValue` is a "kind of ADT" with

[2020-04-06 22:30] senia-psm commented on #258
@jdegoes @afsalthaj please take a look at #259

[2020-04-07 00:48] senia-psm opened #260 "Use resource file in SimpleExampleMain"
Currently `SimpleExampleMain` is the only example file that is fails without additional environment configuration.

[2020-04-07 10:56] #254 closed

[2020-04-07 10:56] #260 closed

[2020-04-07 10:58] afsalthaj commented on #148
@jdegoes Could we review the website again?

[2020-04-07 11:01] #253 closed

[2020-04-07 11:01] #252 closed

[2020-04-07 11:07] afsalthaj opened #262 "Revisit/change the behaviour for empty list values"
This is a known behaviour, however, let's keep an issue to keep track of it

https://github.com/zio/zio-config/blob/master/examples/src/main/scala/zio/config/examples/typesafe/NonEmptyListExample.scala

[2020-04-07 18:50] jdegoes commented on #258
Fixed by #259

[2020-04-07 18:50] #258 closed

[2020-04-08 00:55] afsalthaj commented on #248
Fixed

[2020-04-08 00:55] #248 closed

[2020-04-08 00:56] afsalthaj opened #266 "Document command line args"
Document command-line-args based on the below examples in website:
https://github.com/zio/zio-config/tree/master/examples/src/main/scala/zio/config/examples/commandline

[2020-04-08 08:10] marekklis commented on #243
I'll do it

[2020-04-08 09:28] afsalthaj commented on #243
Thanks @marekklis

[2020-04-08 09:30] #251 closed

[2020-04-08 09:35] marekklis commented on #243
@afsalthaj https://github.com/zio/zio-config/pull/267 tests only `Config.fromSystemProperties` so we still need test for `Config.fromSystemEnv`
BTW `Config.fromSystemEnv` test is not easy to write because `sys.env` is an immutable Map.

[2020-04-08 10:05] afsalthaj commented on #243
@marekklis sure. I remember zio provides some mock. Could you research on it?

[2020-04-08 10:07] marekklis commented on #243
yes, I can take a look.

[2020-04-08 10:17] marekklis commented on #240
PR for `UUID` https://github.com/zio/zio-config/pull/268

[2020-04-08 12:14] afsalthaj commented on #186
When implementing this functionality, I am proposing the following idea.

The idea is to make `map` know the type of `value`. This will behave consistently to `List`

Meaning, the following:

  Say, we have a description that says

[code]

Let's peal off the above description and try and understand
 1.  `string("zones")` implies `zones` is the key and the value is of type `string`
 2. `list(string

[2020-04-08 12:18] afsalthaj opened #269 "Supporting Map[String, V]"
This is a same as that of the issue #186, but in order to detail the spec in the main description, I am raising a separate issue copying the original one.

When implementing this functionality, I am proposing the following idea.

The idea is to make `map` know the type of `value` and infact, the type of `key` as well. This will behave consistently to `List`

Meaning, the following:

  Say, we have

[2020-04-08 14:20] afsalthaj opened #270 "Magnolia update result in compile time error"
Updating magnolia to 0.14.1 result in the following compile time error, which is

[code]

This shouldn't be a concerning issue.
The debugging step will involve removing the types in MyConfig one by one and stop when it starts compiling. I will still consider this as a good-first-issue

[2020-04-08 15:34] afsalthaj opened #271 "Create maven version thumbnail in README"

[2020-04-09 02:22] afsalthaj commented on #269
Started on this

[2020-04-09 05:52] senia-psm commented on #260
@afsalthaj this one still fails locally. It breaks `runAllExamples` in local checks.

[2020-04-09 05:58] afsalthaj commented on #260
The reason for closing this issue is
1. Not a burning issue until `runAllExamples` become part of the CI.
2. Let's change the source to something that doesn't require an IO.
3. Adding a resource file and making this example can be a bit too much as an example.
4. If there are other simple examples already existing, probably I am happy to remove this one as well

[2020-04-09 06:01] #257 closed

[2020-04-09 10:26] marekklis commented on #240
I'll work on `Set` support

[2020-04-10 04:46] afsalthaj opened #280 "Fix minor issues in write functions (especially for hocon/clean ups)"
// More details will be provided

[2020-04-10 04:47] afsalthaj commented on #280
This will go along with #269

[2020-04-10 08:16] afsalthaj opened #282 "Generate Docs for Sequence is broken"
println(generateDocs(list("zones")(string)))

[code]

[2020-04-10 09:17] afsalthaj commented on #280
Done in implement_Map branch

[2020-04-10 14:48] cecol commented on #223
I am working on this. Hope this can be done this weekend

[2020-04-10 15:35] afsalthaj opened #287 "Revisit ConfigDocFunctions.scala with introduction of Sequence and Map"

[2020-04-10 15:35] afsalthaj commented on #282
Related to #287
The map is broken as well, since it is dependent on Sequence for now

[2020-04-11 02:02] afsalthaj commented on #282
Related to #287 hence closing

[2020-04-11 02:02] #282 closed

[2020-04-11 02:14] afsalthaj opened #289 "Add semantics of list and map in website"

[2020-04-11 09:09] #271 closed

[2020-04-11 15:45] afsalthaj opened #293 "Add error accumulation tests"
This should be fairly straight forward. There are already error accumulation tests for simple types. Extend them for maps and lists (which is being added recent days)

[2020-04-11 15:46] afsalthaj commented on #293
This should be fairly straight forward. There are already error accumulation tests for simple types. Extend them for maps and lists (which is being added recent days)

[2020-04-11 16:00] afsalthaj commented on #269
Done for Map[String, V]
Next one is Map[K, V]

[2020-04-11 16:00] #269 closed

[2020-04-11 16:00] #270 closed

[2020-04-11 16:01] afsalthaj commented on #280
Merged in #292

[2020-04-11 16:01] #280 closed

[2020-04-11 16:01] afsalthaj commented on #262
Done with various PRs

[2020-04-11 16:01] #262 closed

[2020-04-11 16:02] afsalthaj commented on #205
Duplicate of #293 hence closing!

[2020-04-11 16:02] #205 closed

[2020-04-11 16:04] afsalthaj opened #294 "Better documentation on writing back the config"
1. List down a few usecases.
2. Explain on writing config back to simple map
3. Explain on writing back to type-safe hocon
4. Explain on writing back to json (a very simple explanation on using typesafe library here)

[2020-04-11 16:05] #255 closed

[2020-04-11 16:31] afsalthaj commented on #186
@fsvehla
First of all, Sorry for the delay in responding to you with a yes or no in map.

As part of 1.0 release, zio-config went through quite a bit of changes, and we deprioritised Map in between and focussed on overall design.

While there were  lot of code changes in between, the major design change happened probably last month by introducing `PropertyTree` as the source of truth for all funct

[2020-04-13 04:36] afsalthaj opened #298 "Add all data types in ConfigDescriptor back into magnolia module"
The magnolia module doesn't have all of the data types supported in `ConfigDescriptor`.
We need all of them back in magnolia module.

While it  is a  manual process that we have to repeat the implicit variants in magnolia module, it's ok to see magnolia module as the only place where the description needs to be `implicitly` driven, and hence the manual process is justified.

[2020-04-13 04:37] #186 closed

[2020-04-13 04:38] afsalthaj commented on #195
@forficate This is already done and is released

[2020-04-13 04:38] #195 closed

[2020-04-13 22:45] afsalthaj opened #299 "Modularise zio-config, and separate type parameters into module"
[code]

Any data types or functions that depend on the key type or value type will be mixed into config module. All of the types that requires `key` and `value` as string will be going to string module

[2020-04-14 01:18] afsalthaj commented on #294
Fixed in #296

[2020-04-14 01:18] #294 closed

[2020-04-14 06:58] marekklis commented on #289
@afsalthaj Is this issue about updating this page: https://zio.github.io/zio-config/docs/configdescriptor/configdescriptor_index ?
There is a [chapter](https://zio.github.io/zio-config/docs/configdescriptor/configdescriptor_index#handling-list-is-just-easy) about making list already

[2020-04-14 11:42] afsalthaj commented on #289
@marekklis yes. We need to expand the current explanation.

[2020-04-17 08:47] cecol commented on #299
I am looking at this. There is a conflict of `zio.config.ConfigDescriptor` and the one in above example: `ConfigModule.ConfigDescriptor`. Is `ConfigModule.ConfigDescriptor` would replace `zio.config.ConfigDescriptor` one?

[2020-04-17 09:03] #298 closed

[2020-04-17 09:04] afsalthaj commented on #299
It does replace however every logic remains the same. We modularise things to not expose the types to users. It will be looking great for users. il soon raise a PR. Looking forward for your inputs there

[2020-04-23 09:36] cecol commented on #256
I am looking at this.
Is this purpose to move `https://github.com/zio/zio-config/tree/master/examples/src/main/scala/zio/config/examples/magnolia` and `https://github.com/zio/zio-config/tree/master/examples/src/main/scala/zio/config/examples/typesafe` to `https://github.com/zio/zio-config/tree/master/typesafe/src/test/scala/zio/config/typesafe` ?

[2020-04-24 13:45] marioosh opened #315 "ReadError.prettyPrint isn't platform independent"
`sbt test` run on Windows 10 (64) shows tests related with `prettyPrint` red.

[code]

I've found that at the end of the function is `mkString("\n")` which is line ending for *nix systems, but not valid for Windows, thats why comparision fails.

All what has to be done is to replace hardcoded "\n" with `System.lineSeparator()` to make all tests green.

[2020-04-25 12:28] afsalthaj commented on #299
With #308 we fixed this issue.

[2020-04-25 12:28] #299 closed

[2020-04-26 12:39] #315 closed

[2020-04-29 03:48] afsalthaj opened #322 "Handle `=` in values of command line arguments"

[2020-04-29 09:23] marioosh commented on #322
It would be a little tricky, but I'll try to do it.

[2020-04-29 22:50] #322 closed

[2020-05-06 15:59] ubourdon opened #324 "Is it possible to maintain a 2.11 version of the lib ?"

[2020-05-08 16:08] fsarradin opened #325 "[HOCON] TypesafeConfigSource#fromHoconString does not catch parse error"
Hi,

I have got an exception and not an Either instance if i do the following:

[code]

This produces the following exception:

[code]

This seems to happen because [`fromHoconString`](https://github.com/zio/zio-config/blob/master/typesafe/src/main/scala/zio/config/typesafe/TypesafeConfigSource.scala#L32) is calling `ConfigFactory.parseString(input).resolve` first, before calling `fromTypesafeConf

[2020-05-08 16:12] fsarradin commented on #325
FYI

[code]

[2020-05-08 23:47] afsalthaj commented on #324
We need to explicitly avoid magnolia module for 2.11 and let me if see that's possible. There were a few hiccups with respect to CI. It's an important issue, thanks for raising

[2020-05-12 06:39] fsarradin commented on #325
@afsalthaj thanks for merging my PR #326  :)

[2020-05-12 06:39] #325 closed

[2020-05-17 04:51] #223 closed

[2020-05-18 13:35] ubourdon commented on #324
So i quit zio config for the moment.
Waiting a 2.11 support or have time to upgrade my project to 2.12 scala version.

[2020-05-22 03:18] idc101 opened #338 "optional list does not error if items in the list are not correct"
zio-config version: 1.0.0-RC18
scala 2.12

**Expected behaviour:**
Given `Option[List[Branch]]`, if one of the `Branch`s is not defined correctly (`pattern` attribute is wrongly named below as `name`) then parsing results in a failure.

**Actual behaviour:**
Result is `None`

Repro here: https://scastie.scala-lang.org/ebscQhvmS7mgChR5agRwgw
or
[code]

[2020-05-22 03:20] afsalthaj commented on #338
@idc101  Thanks for reporting the issue

[2020-05-23 16:06] #324 closed

[2020-05-28 17:49] #338 closed

[2020-05-29 05:27] afsalthaj commented on #338
Released in RC20

[2020-05-29 05:38] #293 closed

[2020-05-30 01:42] afsalthaj opened #346 "Make refined module work with auto derivation"

[2020-06-02 21:19] afsalthaj opened #348 "Include `java.nio.file.Path` data type"
The name can  `javaFilePath` to avoid conflicts, and make sure it is available through magnolia and shapeless module

[2020-06-05 23:52] afsalthaj opened #350 "Improve the ergonomics on defining implicit derivation for config descriptor for custom types"
As of now, there is a way to define implicit derive instances for custom types. However we should improve the ergonomics and syntactical easiness of this process. More details to follow (typing from mobile device)

That said, we should also think of having most of the implicit instances(not only for primitives but validations as well) readily available for the user, especially the refined types (w

[2020-06-06 05:08] #348 closed

[2020-06-06 05:09] afsalthaj commented on #130
We have this functionality now

import zio.config.typesafe._

toHocon
toJson

[2020-06-06 05:09] #130 closed

[2020-06-06 05:23] #266 closed

[2020-06-06 07:22] afsalthaj opened #351 "Make listStrict the default behaviour"
This can be a bit challenging since we need to make sure listStrict don’t break the simple cases of comma separated values in system
Environment or Properties.

[2020-06-06 11:37] senia-psm commented on #351
@afsalthaj it might be better to make list behaviour configurable in source, not in description.
It's quite easy to implement.

[2020-06-07 21:21] #244 closed

[2020-06-07 21:21] #256 closed

[2020-06-07 21:24] afsalthaj commented on #182
@Dmitrii-Shevchenko  I can see a few commits referenced to this issue.  That's cool.
Are you looking at solving this one ?

[2020-06-08 22:20] idc101 opened #352 "Windows won't render pretty print error messages"
Windows Command Prompt and the new Windows Terminal App can't render the prettyPrint error messages:

![image](https://user-images.githubusercontent.com/7188920/84085709-83cf3f80-aa29-11ea-9e96-c42fe914a370.png)

[2020-06-09 10:40] afsalthaj opened #353 "Make ConfigSource.SystemEnv fail when given an invalid delimiter (Ex: '.')"
One of the ways in which nesting is made possible with flattened key value pairs of system environment, is by passing a `keyDelimiter`. That way zio-config will retrieve them as a tree based on the hierarchy produced by the delimiter.

However not all delimiters are valid in actual system environment. Example of such a delimiter is dot ('.'), meaning it won't make sense to use `export DB.PASSWORD=

[2020-06-10 12:35] afsalthaj opened #354 "Make available different types of derivations for sealed traits and avoid having to give explicit Descriptor"
For example, the following should be provided out of the box for the users to pick.

[code]

Example:

[code]

Fix the issue of having to explicitly do
[code]

[2020-06-11 07:32] afsalthaj commented on #182
@Dmitrii-Shevchenko  Let me know if you need any help. Could I assign this issue to you?

[2020-06-13 07:17] afsalthaj opened #355 "Fix error messages (the index of value corresponding to error) for map"
The keys in map are indexed for no reason when they encounter errors.

[2020-06-14 17:44] afsalthaj opened #356 "Issue in optional fields when comes with missing fields"
[code]

It returns a None

[2020-06-16 21:19] #355 closed

[2020-06-17 17:05] afsalthaj commented on #356
One of the possible solutions is:

[code]

[2020-06-23 00:12] afsalthaj commented on #351
Fixed in #362

[2020-06-23 00:12] #351 closed

[2020-06-23 00:13] afsalthaj commented on #350
Fixed in #358

[2020-06-23 00:13] #350 closed

[2020-06-23 01:18] afsalthaj commented on #356
There should be a better way than

[code]

We need to re-design a few things here

[2020-06-24 00:31] afsalthaj opened #364 "Implement updateSourceAtKey"

[2020-07-06 16:14] afsalthaj opened #373 "Remove ForcedSeverity errors"
The ForcedSeverity was a really helpful hack to avoid errors that happens in option(list) done by  @Dmitrii-Shevchenko. This was aimed to fix the specific issue: https://github.com/zio/zio-config/issues/338

This was a good intermediate solution (a version is released to unblock users who faced this issue). However, it is now time for a more generic solution to default values (such as annotating t

[2020-07-07 15:54] afsalthaj commented on #373
Related to https://github.com/zio/zio-config/issues/356

[2020-07-09 07:10] iravid opened #375 "Support loading configuration from YAML"
Load YAML using snakeyaml-engine, similar to how HOCON is loaded with Typesafe Config.

[2020-07-09 07:10] iravid commented on #375
I'm working on this.

[2020-07-09 07:12] afsalthaj commented on #375
Thanks @iravid
That’s really cool

[2020-07-09 14:05] #373 closed

[2020-07-10 00:09] afsalthaj commented on #375
@iravid Discard this message if you have rebased with master today.
There were a few simplifications on error ADT merged to master last day, allowing writing simpler tests if we are adding new features.

[2020-07-10 08:53] afsalthaj commented on #131
I am working on this now

[2020-07-10 16:00] #222 closed

[2020-07-14 01:25] afsalthaj opened #378 "Remove the one implicit conversion that exists in Derivation"
https://github.com/zio/zio-config/blob/master/magnolia/src/main/scala/zio/config/magnolia/DeriveConfigDescriptor.scala#L176

Automation derivation worked during the initial releases handling most of the cases without having to have this line of code. We should avoid this line of code (and fix any breaking logic) before it hits 1.0.

[2020-07-26 01:39] #356 closed

[2020-07-26 01:39] afsalthaj commented on #289
List and map is pretty simple now. Removed over complications with a couple of PRs.
Closing this issue

[2020-07-26 01:39] #289 closed

[2020-07-26 01:40] afsalthaj commented on #240
This is done.

[2020-07-26 01:40] #240 closed

[2020-07-26 01:42] afsalthaj opened #383 "Avoid having to define implicit for nested classes when users extend a new custom DeriveConfigDescriptor"

[2020-07-26 01:47] afsalthaj opened #384 "Remove zio-config-shapeless if possible"
I am not happy with zio-config-shapless to support scala 2.11.
If not removing, revisit to make it look like standard shapeless generic derivation code (we need more contributors)

[2020-07-26 01:49] #287 closed

[2020-07-27 12:21] maciejbak85 commented on #353
I can work on it

[2020-07-28 13:49] afsalthaj opened #386 "Add support to read config with type annotations for sealed trait"
Make zio-config configurable to be able to read:

[code]

[code]
or

[code]
or

[code]

[2020-07-28 14:10] afsalthaj opened #387 "Document yaml source"

[2020-07-28 14:32] #131 closed

[2020-07-28 14:32] #378 closed

[2020-07-28 14:32] #383 closed

[2020-07-28 14:32] #386 closed

[2020-07-28 14:38] #375 closed

[2020-07-28 14:38] afsalthaj commented on #375
Done!

[2020-07-28 14:39] afsalthaj commented on #114
It's stays a bit away from the current design. We will reprioritise this issue if there is a demand to it.

[2020-07-28 14:39] #114 closed

[2020-07-28 14:40] afsalthaj commented on #243
@marekklis  Any luck on this?

[2020-07-28 14:41] afsalthaj commented on #190
We should look at this issue now, before we release 1.0

[2020-07-28 14:42] afsalthaj commented on #354
This is fixed with #380

[2020-07-28 14:42] #354 closed

[2020-07-28 14:42] afsalthaj commented on #353
@maciejbak85  thanks :)

[2020-07-28 14:44] afsalthaj commented on #243
Can't see any major issues with loading system env or system properties, but these tests are good to have.
If no-one is actively working on it, lets close it for the time being.

[2020-07-28 14:44] #243 closed

[2020-07-29 06:14] marekklis commented on #243
@afsalthaj There was discussion about this on discord channel some time ago and the conclusion was that ZIO config needs to be rewritten and not use `sys.env` method
https://discord.com/channels/629491597070827530/633028431000502273/697800157022126160

[2020-07-29 15:11] maciejbak85 opened #389 "Remove call to sys.env and use ZLayer"
According to discussion in PR:
https://github.com/zio/zio-config/pull/388

would be good to make a change in ConfigSourceModule fromSystemEnv.
Change calling to external state `IO.effectTotal(sys.env)` and take env from a Layer.

This change will make this code more functional ( as no relying on external state ), and easier to unit test.
Currently in circleCI config there had to be set system vari

[2020-07-30 10:47] maciejbak85 commented on #389
I would like to work on it ofc :)

[2020-07-31 12:03] maciejbak85 commented on #364
@afsalthaj can you share here some more details ?

[2020-07-31 18:09] jdegoes commented on #389
@maciejbak85 I approve! Would be great to require that in the layer. Also for anything else where ZIO Config is touching the real world, would be better to grab that in the layer so it can be better tested.

[2020-08-02 10:01] afsalthaj opened #393 "Handle duplicate keys in the source when writing back to Json"
Make sure write back to Json handle duplicate keys.

In the below example, you can see key `metadata` happens twice.

[code]

returns

[code]

It misses out information about c.

A fix from the user's side is renaming `metadata` to something else

[code]

will return the actual result

[code]

[2020-08-08 09:26] #190 closed

[2020-08-08 09:30] #393 closed

[2020-08-10 00:41] #353 closed

[2020-08-20 11:36] shankarshastri commented on #387
@afsalthaj I can pick it up, if you can give me few hints on where to start, as I'm new zio-config.

[2020-08-26 05:21] afsalthaj opened #400 "Broken markdown documentation"
The markdown documentation doesn't work for complex types, and doesn't work for products with more than 2 parameters.

[2020-09-08 07:38] vigoo opened #403 "Confusing error when creating a package object called config"
It feels natural to create our own package for defining our application's zio-config layer and naming it `config`, and following ZIO's module pattern, it often gets created as a _package object_.

This easily leads to the following error:

[code]

[code]

which is not very user friendly, and is caused by importing the

[code]
accessor function from `zio.config` that collides with the package objec

[2020-09-08 13:07] jdegoes commented on #403
Yes, we should avoid package names the same as method names.

[2020-09-08 13:47] afsalthaj commented on #403
Let's rename the  `config`  to `getConfig`?

[2020-09-13 06:43] #400 closed

[2020-09-16 13:10] #403 closed

[2020-09-19 02:15] afsalthaj opened #404 "Write back to Yaml similar to writing back to Json"
We have a zio.config.typesafe package that can write back any  config description to `Json`.
We need the similar functionality for yaml, as currently zio-config can only read yaml, and cannot write back to yaml.

This will also turn out to be a simple tool for users to convert json to its yaml representation

[2020-09-27 01:07] afsalthaj opened #407 "Support for recursive structure"
As of now, there is no clear way to handle recursive config structures.

For example, the below example blows the stack.

[code]

[2020-09-27 12:58] afsalthaj opened #408 "Bug (introduced lately) while writing back to json when the keys have dots in it"
This is towards the towards the edge of the app, where rendering the config as a json seem to be buggy when the key themselves has "." (dots) in it. This also seem to be a bug that was introduced lately (probably https://github.com/zio/zio-config/commit/3f1158fee04dab70e2b19af56215cbb9e49afb10#diff-7b2e631c24e9cbd8367ceb16e6ed03d6), and shows an absence of property based test. The fix seem to be r

[2020-10-01 22:10] vigoo commented on #407
I ran into the need for this when adding `zio-config` descriptors for `zio-aws` and looked into it a bit. I have a proposal with a proof of concept PR. Right now it only implements config description and reading, but if you like the approach (or we discuss a better one), I would be happy to finish it to cover everything.

I have introduced a new config descriptor combinator, `nestedRec` which is a

[2020-10-03 11:00] shankarshastri commented on #408
I was trying to take a look found this one:
https://github.com/lightbend/config/issues/493

[2020-10-03 11:25] vigoo opened #410 "listOrSingleton should nest the singleton case"
I think `listOrSingleton` should nest it's fallback case so it accepts the following two variants:
[code]
when using
[code]

For this, `desc` must be put in `nested` in the right side of `orElse`.

[2020-10-04 22:15] afsalthaj commented on #408
@shankarshastri yes but it seems we are able to read the config properly. It’s, I guess, a small
bug in the write module.

[2020-10-05 18:20] shankarshastri commented on #408
@afsalthaj , if you can give me a few pointers I can pick this and continue on the same.

[2020-10-09 22:50] afsalthaj commented on #408
@shankarshastri  Let me try and understand what went wrong

[2020-10-11 08:07] #410 closed

[2020-10-11 09:13] afsalthaj commented on #408
@shankarshastri

The reason is, we have to carefully / explicitly quote the path when calling typesafe config library's (low level) APIs.

In TreeToHoconSupport.scala
// Replacing ConfigFactory.empty().withValue(last, ConfigValueFactory.fromAnyRef(tree.value))
ConfigFactory.empty().withValue(s""" "${last}" """, ConfigValueFactory.fromAnyRef(tree.value))

can solve the issue.

Would you be happy do

[2020-10-11 13:36] shankarshastri commented on #408
Sure, @afsalthaj , I can start with it. With respect to src changes, I understood from the above, to explicitly make `last` to the string.
I had doubts about w.r.t property testing. I was exploring the zio-test for the same but was not sure how to generate an input for the test using the same.

[2020-10-11 20:48] afsalthaj commented on #408
@shankarshastri Sure. Let’s create a separate issue for property based testing and we both can work on that.

How about creating the src change mentioned and raise a pull request to fix this issue?

[2020-10-12 04:28] shankarshastri commented on #408
@afsalthaj , I have added the small fix as part of this PR:
https://github.com/zio/zio-config/pull/416/files

[2020-10-12 06:36] #408 closed

[2020-10-12 07:59] shankarshastri opened #417 "Property based testing For TypesafeConfigReadWriteTest"
As part of #408 , we worked on the fix. This issue will deal with property based tests for TypesafeConfigReadWriteTest.

[2020-10-12 08:00] shankarshastri commented on #417
@afsalthaj , I have created the issue, please let me know how I can proceed. In the mean time I will explore property testing using zio-test.

[2020-10-13 15:40] notxcain opened #418 "Very slow performance with large number of env vars."
When you run your app on Kubernetes there are a lot of env vars defined. At least two for each service. So in my case there are 800 of env vars like `LONG_SERVICE_NAME_HOST` and `ANOTHER_LONG_SERVICE_NAME_PORT`.

And it seems that config loading is stuck forever in `PropertyTree#mergeAll`.

[2020-10-13 20:53] afsalthaj commented on #418
@notxcain thanks for reporting the issue. Could you give an example Config that resulting in hanging for ever?

[2020-10-14 11:34] BernardMarshall opened #419 "System properties are ignored when using Hocon files/strings"
The parsing of the Hocon files and strings use the `ConfigFactory.parseFile` and `ConfigFactory.parseString` methods. Both these methods load the configuration but do not include the system properties. Hence if you have substitutions of the form `${?app.config}` in your Hocon file/string then the substitution is not resolved if the value is set in the system properties. To have the system properti

[2020-10-16 14:00] notxcain opened #421 "Add ability to quote a value with delimiters in order to treat it as string"
The problem:
Given a config type `case class Config(foo: String, bar: List[String])`
I want to be able to decode a `Map("foo"->"x,y,z", "bar" -> "a,b,c")` to `Config("x, y, z", "a" :: "b" :: "c" :: Nil)`
Current implementation fails the decoding because encounters a `PropertyTree.Sequence` where `PropertyTree.Leaf` is expected.

The discussed (with @vigoo, on Discord) proposal is to add a `quote:

[2020-10-16 21:23] afsalthaj commented on #421
Makes sense to have that distinction. Would you want to raise a PR on this?

[2020-10-16 21:27] #389 closed

[2020-10-16 21:29] afsalthaj commented on #417
If you refer to some of the other tests in zio-config core module, you can see we making use of property based tests.

I think in this case all we need is generating keys and values for the fixed complex hocon structure.

[2020-10-18 10:47] afsalthaj opened #423 "Write out the json version of ConfigDocs.Table"
Documentation as json is really useful than even markdown version, such that users of HOCON/Json will find it really easy to make their configuration work.

With the new feature of being able to generate/write description for recursive structure now,
 `write(descriptor[ConfigDocs.Table], table).map(_.toJson)` can be an easy way of solving this problem.

[2020-10-24 11:31] afsalthaj opened #429 "Unable to find automatic derivation when classes are inside module"
For example, `Table` is a structure inside `ConfigDocsModule`, and `descriptor[Table]` doesn't compile as it cannot find the instances. Pulling `Table` out of the module structure seem to make things straight forward

[2020-10-25 01:13] zhiwilliam opened #430 "Should separate file read and properties handle"
Today is my first time try to use this library and it gives me a immediately fail. I tried to load a properties file from my class path (resources root) but I couldn't. The only method I can use is fromPropertiesFile and when I dig into, I found it hard coded FileStreamInput with File. I think it better allow user to specify StreamInput or provide a function to load application.conf etc. That is s

[2020-10-25 01:14] zhiwilliam commented on #430
first complain.

[2020-10-25 01:30] afsalthaj commented on #430
If there is an example out of 100s of them is missing, feel free to raise a request asking for an example, and I will be more than happy to have that one merged ASAP.

Otherwise, you can directly raise a PR giving an example if you found a working version. If neither of them is possible, and is wording it as a command, I have to close this PR.

Here is the solution.

[code]

If you don't want manu

[2020-10-25 01:31] afsalthaj commented on #430
You can also retrieve a ZLayer using

[code]

[2020-10-25 01:31] afsalthaj commented on #430
Hence closing this issue.

[2020-10-25 01:31] #430 closed

[2020-10-28 06:32] amitksingh1490 commented on #418
+1

[2020-10-28 06:34] tusharmath commented on #418
For our use-case (100kb of env variables) we get an out of memory error —

[code]

[2020-10-28 07:51] counter2015 opened #431 "[Question] Is there any convenient way to read nested value ?"
Suppose we have a config file
[code]

I have to define `case class` and `ConfigDescriptor` of each nested part.
e.g.
[code]
Sometimes, I just want get single value from nested config, but I have to declare all its descriptor.
I cant do like
[code]
Is there any better way to implement it ?
In typesafe config, we can get a single value just by
[code]

ref: https://github.com/zio/zio-config/blob/mast

[2020-10-28 08:23] afsalthaj commented on #431
If you happen to retrieve a complex json (hocon) from somewhere and all you care is some specific value out of it,
then you could simply point to that key: Example `nested("app")(string("host")`.
Get the value of `host` that happens to be inside `app`.

Working example:

[code]

[2020-10-28 08:25] afsalthaj commented on #431
@counter2015  Thanks for your question. And I hope the above solution would solve your problem.

[2020-10-28 08:30] afsalthaj commented on #431
Note that, this is going to be the case regardless of the source.

[code]

or if you don't like delimiter, ofcourse you can do

[code]

[2020-10-28 08:32] counter2015 commented on #431
@afsalthaj Thanks your reply!

[2020-10-28 08:32] #431 closed

[2020-10-28 08:34] afsalthaj commented on #431
Let me know if you have any other doubts. And if you think this was missing in examples, a PR is really welcome if you have time.
 Thanks again

[2020-10-28 08:50] afsalthaj commented on #418
Could you also give the details of the source (Example: is it key -> value property file or HOCON) ? What's the target data structure (Example: case class, Map?)

[2020-10-28 09:59] notxcain commented on #418
@afsalthaj I've sanitized our env vars https://gist.github.com/notxcain/c21f24e2d1f8e8e692512acdb496c599.

[2020-10-28 10:04] afsalthaj commented on #418
Sure. Could you also share the code that tries to retrieve the config?

On Wed, 28 Oct 2020 at 8:59 PM, Denis Mikhaylov <notifications@github.com>
wrote:

[2020-10-28 10:30] notxcain commented on #418
@afsalthaj just use this map in your example.

[2020-10-28 12:43] afsalthaj commented on #418
@notxcain Worked
![image](https://user-images.githubusercontent.com/7448613/97437346-6dddff00-1977-11eb-913f-b73a8c339bb8.png)

[2020-10-28 12:52] notxcain commented on #418
Damn, I must've oversanitized something. It fails on unsanitized env vars. Let me recheck.

[2020-10-28 12:56] afsalthaj commented on #418
@notxcain Sure, thanks.
Meanwhile I am looking at @tusharmath's example that has a much more complicated retrieval by passing delimiter to 100KB key value pair.

[2020-10-28 12:58] afsalthaj commented on #418
@notxcain  See if you are also passing delimiters.
Example: `val mapSource = ConfigSource.fromMap(source, keyDelimiter = Some('_'))`
Then we all are on the same page.

[2020-10-28 13:01] notxcain commented on #418
Ah, of course! Sorry I didn't mention that.

[2020-10-28 13:03] notxcain commented on #418
@afsalthaj so now you see it too?

[2020-10-28 13:24] afsalthaj commented on #418
Yes, only when passing the delimiters. That's how I reproduced the issue.
Fixing mergeAll function now

[2020-11-03 13:23] notxcain commented on #418
@afsalthaj how is it going? Did you find the solution?

[2020-11-06 12:44] egast opened #436 "Duration is always written in seconds and brakes when the duration is less than 1 second"
The `Duration` type is always written in seconds and outputs `0 seconds` when the `Duration` is less than 1 second.
The problem is in the implementation of the write function `ZioDurationType` (in `PropertyType.scala`):
[code]

[2020-11-09 07:26] leszekgruchala opened #439 "Support automatic derivation of value classes"
The main goal is to have automatic support for config descriptors that are value classes.

[code]

Sample failing code https://scastie.scala-lang.org/9UDHZDYDRtmqiYybxGQwaA

[2020-11-09 08:05] remiguittaut commented on #439
with credits from https://discord.com/channels/629491597070827530/633028431000502273/775153057965015050.

[code]

should work, but it would be preferable to avoid bringing in the shapeless dependency. a macro, with the inspiration from
io.circe.generic.extras.deriveUnwrappedCodec would be great :)

[2020-11-09 08:24] afsalthaj commented on #439
The solution to support value classes will be baked into existing magnolia
derivation.
On Mon, 9 Nov 2020 at 7:05 PM, Remi Guittaut <notifications@github.com>
wrote:

[2020-11-09 08:24] afsalthaj commented on #439
Thanks for reporting this issue. I will take a look at it

On Mon, 9 Nov 2020 at 6:26 PM, Leszek Gruchała <notifications@github.com>
wrote:

[2020-11-09 12:59] notxcain commented on #418
@afsalthaj sorry to bother you, but do you have an update?

[2020-11-09 13:20] afsalthaj commented on #418
@notxcain could I get back to you in a while. Could filter the values first in sys.env and then pass it as a reduced map to zio-config for the time being?

[2020-11-09 13:21] afsalthaj commented on #418
@notxcain give me a bit more time, and I hope il fix it soon. Currently busy with Api docs and zio-columnar

[2020-11-09 13:25] notxcain commented on #418
As a workaround, we used system properties populated from env vars.

[2020-11-09 13:45] notxcain commented on #418
Have you thought about lazy source design? So that you don't have to convert all the env vars, and just access on demand.

[2020-11-22 00:20] afsalthaj opened #444 "Make refined module user friendly"
The refined support can make use of magnolia, and make use of `nested` descriptor internally to accept keys.
This makes use of users who are used to `Refined` library to come in and straight away use it with zio-config without having to worry about its own dsl.

[2020-11-23 10:42] #444 closed

[2020-11-25 04:07] afsalthaj opened #449 "Remove all automatic conversion of names of key/value of case classes, case objects and sealed traits"
zio-config inherited the same mistake as most of the other libraries in Scala in assuming the name of the caseClass or sealed trait names as snakeCase/kebab_case. These assumptions are removed.

For any custom names, there are various of doing it in zio-config
Example:
[code]

[2020-11-25 14:34] #449 closed

[2020-11-25 18:00] afsalthaj commented on #200
Being fixed in #428

[2020-11-25 18:00] #200 closed

[2020-11-25 18:01] afsalthaj commented on #346
Fixed in #445

[2020-11-25 18:02] afsalthaj commented on #346
Fixed in #refined

[2020-11-25 18:02] #346 closed

[2020-11-25 18:05] afsalthaj commented on #419
Another way of doing it is using orElse combinator in ConfigSource.

descriptor[MyConfig] from source1.orElse(source2)

[2020-11-25 18:16] afsalthaj commented on #421
There is a way here

(string(“foo”) |@| string(“bar”).transformOrFail[List[String]](a => a.split(“,”).toList, _.mkString))(Config.apply, Config.unapply)

This is fair enough because there is theoretically no global definition of how a list is represented in a map-like Config source. Zio-Config allows u to have a global definition by making use of delimiters, however,  in the above example delimite

[2020-11-26 23:04] BernardMarshall commented on #419
Thanks for the reply. Yes that is possible. It just means moving the ${?app.config} markers out of the Hocon file and into a config descriptor so that the system properties can be used.  Not a big deal, but it is nice to have the markers in the Hocon file as it "documents" how a config property can be set.

[2020-11-26 23:08] afsalthaj commented on #419
Sure.we will definitely see if we can fix this issue. Meanwhile,
generateDocs(descriptor).toTable.asGithubFlavouredMarkdown can give us a
doc and a list of sources associated with each parameter. See if it’s of
any help

On Fri, 27 Nov 2020 at 10:04 AM, Bernard Marshall <notifications@github.com>
wrote:

[2020-11-26 23:09] afsalthaj opened #450 "Simplify manual config-desciption of sealed-traits (coproducts) without relying on zio-config-magnolia"
As of now, users find it really hard to describe `ConfigDescriptor` when the config consist of `Coproducts` (sealed-trait) in it, unless they are depending on auto-derivation using `zio-config-magnolia`.

This is because of the complexity that is involved in reading the config and writing them back individually, such that each term during its write phase can fail if the instance isn't matching. La

[2020-11-28 13:31] afsalthaj opened #453 "Create a gen module to generate Config for user to edit instead of having to write from scratch using documentation"

[2020-11-28 14:50] #450 closed

[2020-11-29 13:06] vigoo opened #454 "`constant` and `constantString` could be in `ConfigDescriptors`"
This came up in a discussion of https://github.com/vigoo/zio-aws/issues/144 and I wanted to move this topic here.

I believe the `DerivationUtils.constant` and `DerivationUtils.constantString` would be useful outside the derivation implementation too, so it could be moved to `ConfigDescriptors` where the other config descriptor constructors are.

More generally I think the derivation should be jus

[2020-11-29 13:10] afsalthaj commented on #454
Thanks @vigoo for moving the discussion here. Yes constants could be part of ConfigDescriptor. Agreed :)

We will continue working over this feature right after our 1.0 release. And I can see 1.0.1 would have semantics related to “constant” in “ConfigDescriptorModule”.

[2020-11-30 22:12] afsalthaj commented on #454
Hi @vigoo
I think, as a next step, `Description` needs to hold the information about `type`, `constants`, `default` separately. As of now its a comma separated string in a List.

This actually goes in line with this ticket. What do you think?

[2020-12-01 09:41] afsalthaj commented on #364
@maciejbak85  Apologies. I completely missed out your message.

As of now we have data source override capabilities. For example

[code]

This will override the data in `someSource` with `constantSource` for all keys in `MyConfig`.
We need to be able to target per field. It's an enhancement, and not a critical feature. However, it will be really interesting to implement.

[2020-12-01 20:30] afsalthaj opened #457 "Include a sequence of names (@names) annotation for zio-config-magnolia"
As of now zio-config-magnolia supports custom names that avoids keeping the same name as that of case classes and objects.

For example:

[code]

This is a good first issue.

[2020-12-01 20:31] afsalthaj commented on #182
@Dmitrii-Shevchenko Are you working on this issue? We need this to be cross-compiled with dotty soon :)

[2020-12-01 23:12] #453 closed

[2020-12-03 04:28] afsalthaj opened #461 "Introduction of bug related to optional as part of RC28 commits"
The commits for RC28 has introduced bugs in zio-config when dealing with optional values.

    final case class RawTableConfig(
        options: Option[Options],
      )

      final case class Options(
        header: String,
        separator: String,
        quoteAll: String,
      )

      val string =
        s"""
           |      {
           |        "options" : {
           |            "

[2020-12-03 11:44] afsalthaj commented on #461
@vigoo  When you get time, can u take a look at why. I tried to identify myself on whats going on.
There were a few changes in the logic behind optional parameters.
Also, we need more view of the error. The error is cut off as well. For example

[code]

In this case, first database is an optional product, but we don't see the details of the product. This was available before and its important to g

[2020-12-03 12:02] vigoo commented on #461
I believe the recursive config support changed the error reporting for this and we discussed this in that PR too, I think here: https://github.com/zio/zio-config/pull/409#discussion_r502690534
(if I understand correctly)

I don't know why your first example on the top behaves like that, I agree that should report the missing two fields. In the second one if `database` is an optional product, I thi

[2020-12-03 12:04] afsalthaj commented on #461
For sure. The first example did work at RC27 and broke at RC28. I am not entirely sure out of the big change, which part made that bug. I thought, you will have a quick idea on where it went wrong.

I agree, with the second case we did have a discussion and thanks for reminding me about it.

[2020-12-03 12:06] vigoo commented on #461
Unfortunately I haven't got any quick ideas :(

[2020-12-03 12:12] afsalthaj commented on #461
No worries.

Came in with this logic anyway

[code]

[2020-12-03 23:00] afsalthaj commented on #461
@vigoo  Apologies that we had to revert back some of the changes as part of RC28 in the process of fixing the bug (which I think was not looking good).

We will definitely follow up on the changes and the tests related to recursion as  a later commit. The issue will be reopened.

[2020-12-03 23:08] afsalthaj commented on #407
We had to revert back some of the changes as part of RC28 in the process of fixing the bug (which I think was not looking good).

We will definitely follow up on the changes and the tests related to recursion as a later commit. The issue will be reopened.

Let's reopen the issue, and bring back recursion, if possible without reducing the error view (although we discussed this before, now we are ch

[2020-12-03 23:10] vigoo commented on #461
Don't really undertsand the motivation here, if there is a bug why not fix it with keeping/improving the already implemented other features? Looks like there is some hidden deadline here?

[2020-12-03 23:14] afsalthaj commented on #418
@notxcain  Sorry to get back late. I was really busy with some of the other changes.

The memory issue comes into picture when there are large number of environment variables in the source, and we need a nested behaviour (explicit passing for delimiters) out of it.

The quick fix for you is not to pass delimiters if there are too many delimited key-value pairs in flattened sources.
We will be look

[2020-12-03 23:15] vigoo commented on #407
Well the explicit recursion node was my initial implementation, it took about half an hour to add. It's the first commit in the first PR above. @jdegoes asked me to implement it in the lazy way instead.

[2020-12-04 01:44] afsalthaj commented on #461
Sorry I didn't get u when u said "Why not fix bug?"
Yes i fixed the bug. It's removing a logic that introduced the bug involving wild card pattern matching. The logic is pasted above as well, and removing the short circuiting the errors. Motivation is not putting users into risk of such a basic functionality.

So its not really a revert.its is a **bug fix**.
 It will take time for me to redesign r

[2020-12-04 01:45] #461 closed

[2020-12-04 01:51] afsalthaj commented on #407
The `Lazy` constructors still exist in the code, and it shouldn't be too hard to make it work, keeping the error views as it is. There needs to be some additional logic to make it work completely.

[2020-12-04 02:02] afsalthaj commented on #461
Just pointing out here  that we might need to bring back the explicit node as well that you @vigoo  implemented (may be along with Lazy constructor) to make things work. More discussions here : https://github.com/zio/zio-config/issues/407

[2020-12-05 13:24] afsalthaj opened #465 "Can we have all retrievals of ConfigSources consistent?"
As of now, retrieving ConfigSources (ConfigSource.fromMap, ConfigSource.fromSystemEnv) involve different data types.
Some of them are pure values such as `ConfigSource`, While a few others are returning `Either`/`ZIO`.

I think it's far better if users just get a `ConfigSource` so that they can easily compose with `ConfigDescriptor`.
Looking for suggestions here

[2020-12-05 13:31] afsalthaj opened #466 "Can zio-config interact (integrate) with zio-cli? A follow up during Q&A in FS2020"

[2020-12-05 13:32] afsalthaj opened #467 "Follow up on FS2020 Q&A. Can we have specific modules for Kafka/Spark configs?"

[2020-12-09 22:15] nightscape opened #470 "Scala.js compatible version"
Hi all,
I'm trying to make `zio-actors` compile to Scala.js. `zio-actors` uses `zio-config` in quite a few places, so now I'm wondering if it would be possible to make `zio-config` Scala.js compatible, e.g. using [SHocon](https://github.com/akka-js/shocon).
Did anybody consider this before? How much effort do you think this would be, and where would one start?
Thanks!

[2020-12-11 08:05] fsarradin opened #471 "Add a filter function on ConfigSource"
If my key looks like this `key1.key2.key3`, and my env var looks like `P-KEY1_KEY2_KEY3`, `.convertKeys` on `ConfigSource` doesn't help here. Typically, `.convertKeys(k => addPrefixToKey("P-")(k.toUpperCase))` will only match `P-KEY1_P-KEY2_P-KEY3`.

In addition, if I want `P_` (instead of `P-`) as a prefix, it won't work, as `_` is used as a prefix delimiter.

The idea would be to add a `filter`

[2020-12-13 15:00] jdegoes commented on #418
A mutable implementation of `mergeAll` would fix this, as would, potentially, making source more lazy. I think I'd prefer the former as if you have thousands of env variables inside a property tree, laziness won't help.

Anyone want to volunteer for a mutable version of `mergeAll`? A good exercise in high-performance functional Scala.

[2020-12-14 04:30] tusharmath commented on #418
@jdegoes That would be me :D

[2020-12-14 18:33] jdegoes commented on #418
@tusharmath Awesome! Let me know if you would like to pair on it or need additional clarification! 🙏

[2020-12-22 10:39] notxcain commented on #421
@afsalthaj
After another round of thinking, I find it very confusing to add quoting and escaping as a part of the library UX.

As an abstract client, I don't want to think about it at all. If I have `foo: String` I'm asking to parse a string, why do you try to parse something else? Delimeters should only be used for collection types. And should be a property of the collection decoder. Not the conf

[2020-12-27 07:18] LGLO commented on #436
I think this issue is solved by #438

[2021-01-01 12:35] afsalthaj commented on #470
@nightscape  I would love to have scalajs support in zio-config.
Let me know if you are happy to work on it.
We can see js support being given to a few other zio projects (a good example is zio itself).
We should just follow the same pattern (and its fairly equivalent to many other scala projects supporting js).

[2021-01-01 14:06] nightscape commented on #470
@afsalthaj here is a WIP PR with the changes I'm using locally to run zio-config under Scala-JS:
https://github.com/zio/zio-config/pull/478
Shall we continue the discussion over there?

[2021-01-03 02:04] afsalthaj opened #480 "Better representation for description"
Since we are concatenating descriptions, it may confuse user when it comes to nested structure where a description may be applied to a parent key.

For example, if a is optional and a.b is of the type string then the description of a.b should be “a is optional value, a.b is of the type string”. This is useful especially in error reporting. As of now, the if a.b is missing, corresponding descriptio

[2021-01-21 22:01] mschuwalow opened #482 "Support semiautomatic derivation"
Currently using `zio.config.magnolia.descriptor` will automatically derive implicit Descriptors for an arbitrarily deep hierarchy.
This can often be unexpected and I would prefer to have semiautomatic derivation similar to what circe offers.

I'll gladly take care of implementing this if we can decide how we want to organize the code / what the imports should look like.

[2021-03-01 22:12] afsalthaj commented on #482
@mschuwalow Thanks for coming up with the issue and taking up the task. It's an important feature.
Have you started working on it? Or you looking for some initial inputs from me?

[2021-03-01 22:18] afsalthaj commented on #482
Some of the functionalities inside DeriveConfigDescriptor needs to be taken out of `trait`, as it is giving a tough time for users with intelliJ/type-inference.

Since semi-auto needs some sort of re-organising code, we need to take this issue into account too if possible - if we can fix along with it without breaking compatibility.

[2021-03-09 04:04] afsalthaj commented on #182
This is in progress

[2021-03-12 17:57] vigoo commented on #182
A few days ago when ZIO `1.0.5` was released I updated a couple of libraries and also gave a try to zio-config. For the magnolia based libs I guess we just wait for a Scala 3 magnolia, with the rest the only issue I founds it that the `ConfigDescriptor.apply`:

[code]
is completely unusable in practice with Scala 3, because of the change in the generated `unapply` for products (https://scalacenter

[2021-03-14 23:04] afsalthaj commented on #182
@vigoo  Couldn't agree more !

[2021-03-15 16:49] snowsilver opened #501 "Provide a convenient way to read config from resource"
@afsalthaj Thank you for the videos about zio-config on Youtube. I'm trying to use zio-config and found that there is no method to read config from resource path directly. Instead I found methods to read config from `Path`, `File`, `String`

Of source, we can read resource and then convert to string or file but It would be convenient to read config from resource directly.

What do you think?

[2021-03-21 08:28] #182 closed

[2021-03-21 09:31] afsalthaj commented on #501
@snowsilver  Thanks for asking this here. Couldn't we use `TypesafeConfig. fromDefaultLoader` or `TypsafeConfigSource. unsafeDefaultLoader` ?

You need zio-config-typesafe module in your build. See if this helps.

[2021-03-21 09:32] afsalthaj commented on #501
@snowsilver  Meanwhile, sorry for the delay. For some reason, I completely missed out this issue.

[2021-03-26 08:32] afsalthaj opened #503 "Document `.to` (replacing apply and unapply) in website"

[2021-04-03 04:15] snowsilver commented on #501
@afsalthaj Thank you for the comment. :-) zio-config supports various types of config such as yaml, hocon, properties. Basically, config can be loaded from separated file from file system or classpath in the jar file. I suggested that adding  a common way to load config by locations of config file for all config types and I wonder that feature is helpful for the other users.

and I wonder that do

[2021-04-03 06:28] snowsilver commented on #501
I just checked Typesafe config's behaviour. It seems Typesafe config already supports profile and loading directly from resource. I missed that because I tried only zio-config-yaml. :sweat_smile:  I found there are all features that I want in zio-typesafe-config if I change file format of config.
thank you

[2021-04-03 06:28] #501 closed

[2021-04-05 22:57] afsalthaj opened #506 "Use scala3 functionalities for scala3 compatible zio-config auto derivation modules (than Magnolia and shapeless)"

[2021-04-08 18:14] sideeffffect opened #510 "zio-config-magnolia 1.0.3 didn't get published"
It's not on Maven
https://repo1.maven.org/maven2/dev/zio/zio-config-magnolia_2.13/

And it's not mentioned in the logs
https://github.com/zio/zio-config/runs/2297366374?check_suite_focus=true

[2021-04-08 18:21] sideeffffect commented on #510
The issue might be that Magnolia is not a 2.11 project and the sbt project `root` contains only 2.11 projects?

[2021-04-08 18:48] mijicd commented on #510
Not only magnolia, i think the same issue is for 2 more projects (as you described).

I already informed @afsalthaj about this, so i propose to kerge your fix, ans eelease 1.0.4 asap.

[2021-04-08 19:40] mijicd commented on #510
*Update:*  scratch my message above, the hotfix obviously doesn't work.

[2021-04-08 20:02] sideeffffect commented on #510
Yeah, there are further issues: https://github.com/zio/zio-config/pull/514

[2021-04-08 20:49] sideeffffect commented on #510
I think we've fixed this! :tada:

[2021-04-08 20:52] mijicd commented on #510
Closed in #514

[2021-04-08 20:52] #510 closed

[2021-05-02 23:59] afsalthaj opened #525 "Gen module is a bit slow to produce example config values."
https://zio.github.io/zio-config/docs/usingconfigdescriptor/configdescriptorusage_index#generating-a-random-config-using-zioconfiggen

[2021-05-15 10:17] afsalthaj opened #543 "Simplify generate documentation logic, and remove assumptions on links in generated markdown"
1. Make the heading of each table in generated markdown a complete path instead of leaf names.  This will remove the need to index duplicates, and  the need of having to repeat what GitHub or BitBucket has done to handle duplicate headings.
2. Use StringBuilder in the logic

[2021-05-15 10:21] afsalthaj opened #544 "Add quick examples (probably read config) in README than having to go to website."
We just need to decide what exact examples need to be put into the original README, and make them available instead of having to click through website.

[2021-05-16 08:34] #407 closed

[2021-05-16 08:41] afsalthaj commented on #387
@shankarshastri

Missed out about this story. Considering its been long running issue, would you still consider giving a hand?
It's going to be a simple addition here:

https://zio.github.io/zio-config/docs/sources/sources_index

[2021-05-16 09:19] afsalthaj opened #547 "Revisit the technical term "Leaf" and "Sequence" being exposed to users (through error messages and public functions)"
The concepts of `Leaf`, `Sequence` and `LeafForSequence` are as follows:

`Leaf` :  A singleton value
`Sequence` :  A list of values
`LeafForSequence`:  which can be either `Valid` or `Invalid`, whose definitions are as follows
`LeafForSequence.Valid` : This implies, a singleton value is a valid list.

[code]

`LeafForSequence.Invalid`: This implies, a singleton value is an invalid list.

[code]
T

[2021-05-16 10:16] shankarshastri commented on #387
@afsalthaj , I was going through this one:
https://github.com/zio/zio-config/blob/master/yaml/shared/src/main/scala/zio/config/yaml/YamlConfigSource.scala
Should I document using this as reference?

[2021-05-16 13:23] shankarshastri commented on #387
[code]
Will this example suffice?

[2021-05-18 11:00] 2ne1ugly opened #550 "Possibly ZIOConfigNarrowOps#narrow is redundant"
currently zio already has [ZLayerProjectOps#project](https://github.com/zio/zio/blob/7d6fe956e884fa2be37dfc50827cd84018869102/core/shared/src/main/scala/zio/ZLayer.scala#L2232) with exactly same signature.

Does it exist for any other reason?

[2021-05-18 11:08] 2ne1ugly commented on #550
With little more exploration, ZLayerProjectOps#project was introduced 9 month ago.
So I guess we didn't have it when it was implemented

[2021-05-24 12:59] afsalthaj commented on #550
@2ne1ugly It was added at a later stage in zio. We could remove it, but not of higher priority.

[2021-05-27 00:05] #471 closed

[2021-05-28 23:38] broij opened #557 "TypesafeConf array substitution fails"
I am using java properties to inject the values of an array in an HOCON configuration file (https://github.com/lightbend/config#set-array-values-outside-configuration-files).

Here is a simple code snippet reproducing the bug I am having:
[code]

Content of _application.conf_:
[code]

Dependencies:
[code]

ZIO config fails to load the configuration:

A checked error was not handled.
ReadError:
For

[2021-06-11 20:08] YuMuuu opened #568 "broken link"
https://github.com/zio/zio-config/blob/926fe4a3677ee301411192934e11d38fe0aeab78/README.md#L23

`examples/src/main/scala/zio/config/examples` is cant junp in  mster branch.

I heard rumors that a very good library 👀

[2021-06-11 22:38] afsalthaj commented on #568
https://github.com/zio/zio-config/pull/565

[2021-06-11 22:47] afsalthaj commented on #557
Thanks for reporting the issue.

It is fairly solveable issue with the fix you suggested. However there might be users who would really want to see them as a map itself (may not be users of typesafe Config).

I am definitely open to I making these changes to support the idea, of “sequence of numbers under a parent node could indidicate it’s a list”.

[2021-06-12 00:24] afsalthaj commented on #568
Closing this issue as we merged #565

[2021-06-12 00:24] #568 closed

[2021-06-12 01:29] afsalthaj commented on #557
Following on my previous comment,

Your suggestion on adding this behaviour into `PropertyTree` sounds very reasonable (given that this use-case of numerically listed map is applicable for other sources too).

However, for the time being, given the current version of zio-config, I would create a method similar to the below one (not tested, as it is a quick snippet) that supports this behaviour in

[2021-06-16 18:33] YuMuuu commented on #568
thanks

[2021-06-20 02:52] #457 closed

[2021-06-22 04:46] afsalthaj opened #571 "Add `refineType` function that accepts a fully formed refined type"
Example:

Currently refine module can accept predicates represented by types.

Examples:
[code]

Another example:

[code]

Another example:

[code]

and so on, and it composes quite well.

However, there are situtations where users expect it to work by giving a fully formed refined types.

Example:
[code]

Add a new `refine` function that can accept a fully formed type as mentioned in the last exa

[2021-06-22 15:52] danielbe1 commented on #506
Id like a shot at tackling this if you don't mind :)
I've been dying for zio-config in scala 3!

[2021-06-26 09:49] afsalthaj commented on #506
@danielbe1  Sorry for the late response. Unfortunately, I have already been working on this issue, and I apologise I didn't mention it in the list of assignees.

[2021-06-26 09:51] afsalthaj commented on #506
@danielbe1  Thanks a ton for offering the help. I have been looking for someone up until 1 week before, however, I started straight away once I got some bandwidth.

[2021-06-27 04:39] afsalthaj commented on #506
For those who would like to know the progress, here is it:
https://github.com/afsalthaj/zio-config-scala3-auto-derivation

ETA: Mid July, however we will try our best to smash this even before.

[2021-06-27 22:26] afsalthaj commented on #506
There will not be `DeriveConfigDescriptor` and inheritance pattern of custom derivations.
Any custom behaviour related to names and nesting will be part of the annotations:
https://github.com/afsalthaj/zio-config-scala3-auto-derivation/blob/master/src/main/scala/zio/config/magnolia/Macros.scala

[2021-07-05 07:33] afsalthaj commented on #506
Draft PR that implements almost all functionalities is here:
https://github.com/zio/zio-config/pull/574

[2021-07-25 23:38] afsalthaj opened #582 "Add a discriminator annotation to stay in consistent with zio-json"

[2021-07-26 23:29] afsalthaj commented on #571
Fixes in #583

[2021-07-27 07:38] afsalthaj opened #585 "Add integration with cats and scalaz"

[2021-07-27 07:40] afsalthaj opened #586 "Add integration with zio-prelude"
Similar to integration with cats and scala #585, add a module that integrates with zio-prelude

[2021-07-27 08:01] afsalthaj opened #587 "Add integration with enumeratum"

[2021-07-28 10:49] afsalthaj opened #590 "Module for Spark"

[2021-07-28 10:49] afsalthaj opened #591 "Module for Kafka"

[2021-07-28 10:49] afsalthaj opened #592 "Module for http4s"

[2021-07-28 10:50] afsalthaj opened #593 "Module for AWS essential config classes"

[2021-07-30 17:57] mygoalistokillbill opened #595 "mapFieldName doesn't work"
zio-config verison is 1.0.6

second assertion fails

[link to javadoc](https://javadoc.io/static/dev.zio/zio-config-magnolia_2.13/1.0.0-RC31-1/zio/config/magnolia/DeriveConfigDescriptor.html)

[code]

error
[code]

[2021-08-31 07:59] remiguittaut commented on #418
Hi guys, I see that there is a standing PR. That problem is a bit of a blocker for me. Any idea about when this can be deployed?

[2021-08-31 15:01] afsalthaj commented on #418
There is a slight redesign going on
at the configsource side. We have an eye on this.

[2021-08-31 20:49] jgoday commented on #595
Not sure it's a bug,
from DeriveConfigDescription.descriptor[T] docs
[code]

In this example, providing an implicit descriptor for Credentials trait should be enough to make it work
[code]

Don't really know if there is another way to automatically infer this ....

[2021-09-02 08:09] afsalthaj opened #609 "Fix inconsistency in builds due to scala-3 autoderivation in master branch"
Master branch is now quite unhappy with scala-3 auto derivation (at times), and apparently the pull request builds are succeeding at the same time.

All said, we should be avoiding call to `symbol.tree` in scala3 auto derivation macros, that finds the default values.

[2021-09-02 08:11] afsalthaj commented on #595
@mygoalistokillbill  I hear the issue. Will take a look once free from rest of the work that I am into. Sorry for the late response.

[2021-09-12 14:01] afsalthaj opened #616 "If possible, simplify the build"
For instance, refer to the below snippet that talks about scala versions in the library.

[code]

To set a scala version, do we need this loop ? I understand this ensures consistency with CI. But I would personally question this approach.

[2021-09-13 00:25] afsalthaj commented on #609
In progress at #617

[2021-09-19 23:25] #571 closed

[2021-09-20 00:12] #585 closed

[2021-10-18 21:08] swoogles opened #642 "Upgrade to ZIO 2.0"
ZIO is at Milestone 4, with an RC expected in the next few weeks.
https://github.com/zio/zio/releases/tag/v2.0.0-M4

The API is nearly stable at this point, so any early migration work against this version should pay off towards the official 2.0 release.

The progress is being tracked here:
zio/zio#5470

The Stream Encoding work in progress is the only area where the API might still change before

[2021-10-22 13:22] ksarath opened #647 "#zio-config-yaml - Support for environment variables in yaml"
Even though [snake-yaml engine support replacing of environment](https://bitbucket.org/asomov/snakeyaml-engine/wiki/Documentation#markdown-header-variable-substitution), zio-config-yaml do not seem to support it. Is there any specific reason behind it? Is it possible to enable this support?

[2021-10-24 13:27] afsalthaj opened #651 "Enable Automatic Config Test and Markdown Spec in zio-config-magnolia"

[2021-10-30 14:41] afsalthaj commented on #404
Here are the example steps required to write a config back to its source.
1. For typesafe-hocon config, we built a function that goes from `com.typesafe.config.Config` to `PropertyTree`
2. Similary we need a function that goes from `yaml Config` to `PropertyTree`.

This means you can imagine every config in various libraries  can be turned to a PropertyTree.

[2021-10-30 14:43] co0lster commented on #404
I'll work on this one

[2021-10-30 14:49] afsalthaj commented on #404
Thanks @co0lster

[2021-11-01 10:09] afsalthaj opened #658 "Redesign ConfigSource, PropertyTree, ReadModule and Resource Handling in zio-config"

[2021-11-02 18:40] jdegoes opened #662 "Add PropertyTree.Union"
A `Union` expresses a property tree that could be one thing or another. It allows you to model a "universe" of possibilities (as in the `List` monad, which models non-determinism).

A `Union` property tree simplifies `Leaf`, which currently stores a `Boolean` indicating if the `Leaf` can be interpreted as a sequence. With unions, you can just say, `Leaf(a) | Sequence(Leaf(a))`, where `|` construct

[2021-11-02 18:46] jdegoes opened #663 "Add ConfigSource.mapAt"
A `mapAt` allows you to drill into a part of a `ConfigSource` and apply changes (such as `mapKeys`) to only that part.

To implement this, I think we can benefit from:

[code]
From these, we can build a `mapAt` in a compositional fashion:

[code]

[2021-11-02 18:47] jdegoes opened #664 "Remove applicative builder pattern"
Following ZIO's lead, we can implement composable zips in this project, allowing us to "zip" together config descriptors in a way that does not nest tuples, and which eliminates Unit values.

[code]

[2021-11-02 18:49] jdegoes opened #665 "Switch to use ZIO Schema for derivation"
Rather than use Magnolia or custom macros, we can switch to ZIO Schema, which will soon feature derivation for Scala 2.x and Scala 3.x, which also supports annotations.

Once we have ZIO schema, we can provide some helper methods which do not require or refer to `ConfigDescriptor`, e.g.:

[code]

[2021-11-02 18:51] jdegoes opened #666 "Add ConfigSource#toLayer"
Currently, wrapping a `ConfigSource` into a layer will **do the wrong thing**.

e.g. `fromHocon(...).toLayer`.

The problem is that the memoization happens in the "outer" `ZManaged` of the config source. But layers require memoization happen as part of layer construction.

In order to address this, we can add a `tolayer` method to `ConfigSource`, which shifts the outer layer into the ZLayer, so th

[2021-11-04 03:08] rbmdotdev opened #668 "no scala 3 version for zio-config-refined?"
Is it expected that there is no scala3 compatible release of the zio-config-refined package?

https://search.maven.org/search?q=zio-config

[2021-11-05 12:35] soujiro32167 commented on #439
Looks like this was fixed in Magnolia: https://github.com/softwaremill/magnolia/issues/225

[2021-11-06 08:58] afsalthaj commented on #668
We will publish one soon.

[2021-11-06 09:06] afsalthaj commented on #666
@jdegoes  Could you elaborate a bit more on this?
Example, Given we have the following implementation of system properties file (where resource acquisition and release is in terms of ZManaged, and ZConfig) what's the implication of using ZLayer?

[code]

[code]

[2021-11-06 13:39] afsalthaj commented on #665
Is this going to replace  `zio-config-magnolia` or add as another module  (and in future deprecate zio-config-magnolia) ?

[2021-11-07 05:50] afsalthaj commented on #666
@jdegoes  As of now what I have as toLayer is this:

https://github.com/zio/zio-config/blob/e903eea859f5c8621db52b80f859b63f25ecf504/core/shared/src/main/scala/zio/config/ConfigSourceModule.scala#L71

[code]

[2021-11-22 10:38] #658 closed

[2021-12-20 19:39] afsalthaj opened #691 "Add zio-config ConfigSource for AWS DynamoDb AttributeValue"

[2021-12-29 15:15] afsalthaj opened #700 "Upgrade to scala 3.1.0"
The changes needs to be done in `.github/workflows/ci.yml` (change from 3.0.x to 3.1.0) and  in `BuildHelper.scala` (change from 3.0 to 3.1).

Fix compile time issues.

[2021-12-29 15:18] afsalthaj opened #701 "Make examples compile with scala3"

[2021-12-29 15:22] afsalthaj commented on #668
zioConfigRefined, with Scala3 version 3.0.x and refined version`0.9.27` was tested recently, and it spews out the famous scala3 errors.

[code]

You might need to wait further when zio-config fixes https://github.com/zio/zio-config/issues/700 and then use refined 0.9.28.

Thanks

[2021-12-29 16:04] #587 closed

[2022-01-02 18:53] afsalthaj opened #711 "Add helpers to create ConfigSource"
[code]

[2022-01-02 18:53] afsalthaj opened #712 "Make nodes in PropertyTree non private"

[2022-01-02 18:53] afsalthaj opened #713 "Make <*> behave the same as zip in ConfigDescriptor"

[2022-01-09 14:59] afsalthaj commented on #593
Added https://github.com/zio/zio-config/pull/717.
A proof that zio-config is now just more than a config, and infact can act as a datasource reader in many cases.

[2022-01-10 10:01] afsalthaj commented on #713
This was already the same behaviour

[2022-01-10 10:02] afsalthaj commented on #712
Fixed this one in recent releases.

[2022-01-10 10:02] #712 closed

[2022-01-11 07:29] afsalthaj commented on #711
Fixed

[2022-01-11 07:29] #711 closed

[2022-01-23 09:48] aborg0 opened #749 "`println` in ConfigSourceModule.fromSystemEnv (3.0.0-RC1)"
At [line 574](https://github.com/zio/zio-config/blob/v3.0.0-RC1/core/shared/src/main/scala/zio/config/ConfigSourceModule.scala#L574) there is a `println` statement (`println("going to calculate tree")`), which is probably unintentional, was used for debugging. (Present also on [master](https://github.com/zio/zio-config/blob/master/core/shared/src/main/scala/zio/config/ConfigSourceModule.scala#L574

[2022-01-23 12:58] aborg0 opened #750 "`generateReport` does not contain the `value`"
It seems with Scala 2.13.8 (with source:3 and ZIO config 3.0.0-RC1) the `generateReport` does not contain any part of the config values passed as `value` parameter.

Example code:

        import zio.config.*
        import zio.config.magnolia.descriptor
        import zio.config.typesafe.TypesafeConfigSource
        import zio.config.{ReadError, generateReport}
        import zio.{Console, System

[2022-01-24 14:09] afsalthaj commented on #750
`generateReport` need to have some more love, and hasn't been quite publicised yet. We will be taking care of it going forward.

[2022-01-24 14:10] afsalthaj commented on #750
The main reason being, if report should be part of the `read` or not, and have some good design decisions to make instead of jumping in and fixing things. Anyway thanks for raising this issue

[2022-02-21 15:50] ksarath opened #783 "Issues with List type while using zio-config-yaml along with yaml resource files"
Hi,

`zio-config-yaml` fails to load the configuration properly when there is List type in configuration. We are using `Scala 3`, `ZIO: 1.0.13`, `zio-config: 2.0.0`, `zio-config-yaml: 2.0.0` and `zio-config-magnolia: 2.0.0`.

Here are some examples. The failure happens when we use `fromYamlReader()` and when we use `<> (orElse)` operator together with `fromYamlFile()`. To illustrate this, I am usi

[2022-02-21 15:58] ksarath commented on #783
![Screenshot 2022-02-21 at 16 58 11](https://user-images.githubusercontent.com/1654916/154989638-67cebd7d-126e-44ac-8c09-9b21a4457c1d.png)

[2022-02-22 16:19] regiskuckaertz opened #785 "Has defect when accessing ConfigSource from environment"
Hello there - when trying out zio-config 2.0.0 I experience a runtime error. Here's a test to reproduce:

[code]

It fails with

Interestingly, in my application the error message is the opposite, i.e. it cannot find `ConfigSourceModule::ConfigSource` because the key in the map is `package::ConfigSource` 🤔

[2022-03-02 05:03] afsalthaj commented on #783
@ksarath  I will take a look at this one.
Quite busy these days, give me a couple of days.

[2022-03-10 12:47] afsalthaj commented on #785
I have been travelling quite a bit during this time, and catching up with the issues. Let me take a look. Thanks for reporting.

[2022-03-10 13:04] afsalthaj commented on #785
It seems to be an issue that's quite interesting, but not quite specific to zio-config though. Hence the issue will be long-living here.

Anyway, atleast for the time being , if you need really need to make `ConfigSource` a layer, we have some helpers that can come in handy

[code]

[2022-03-11 10:47] afsalthaj commented on #749
Fixed in 3.0.0-RC3 and 2.0.3

[2022-03-11 10:47] #749 closed

[2022-03-20 04:05] afsalthaj commented on #783
Sorry for the delay. Spotted the issue with RC versions.
https://github.com/zio/zio-config/pull/815
Hopefully, be trying to release soon.

[2022-03-20 05:38] afsalthaj commented on #783
Currently working on `testM("Reading configuration from application yaml using reader - Failing test") ` , but it seems to be a different issue, as it is source specific. They are only failing for Yaml Source, and not for a Hocon Source.

[2022-03-20 14:37] afsalthaj commented on #783
Another issue that I found in this RC version is lazy evaluation of trees even after memoization. This will be fixed as part of the PR.

[2022-03-21 06:58] afsalthaj commented on #783
This is ready for review, with an example inspired from the issue itself:
https://github.com/zio/zio-config/blob/fix/783/examples/shared/src/main/scala/zio/config/examples/ConfigSourceOrElseExample.scala

[2022-03-21 06:59] afsalthaj commented on #783
Also included a reader example, although we are thinking whether to be hesitant about having exposing that in yamlSource. But not a concern of this PR.

https://github.com/zio/zio-config/blob/fix/783/examples/shared/src/main/scala/zio/config/examples/ConfigSourceOrElseExample.scala#L56

[2022-03-21 07:11] afsalthaj commented on #783
Recommending to use https://github.com/zio/zio-config/releases/tag/v2.0.4.
See if it fixes, if not let us know.

[2022-03-21 10:43] afsalthaj commented on #783
Reopening the issue, just to allow users to test the latest RC versions that works with latest zio RC versions.

https://github.com/zio/zio-config/releases/tag/v3.0.0-RC5

[2022-03-21 23:55] #783 closed

[2022-03-22 00:22] afsalthaj opened #818 "Remove the need of explicit imports in customDerivation"

[2022-03-29 03:28] afsalthaj commented on #818
Fixed in https://github.com/zio/zio-config/pull/819

[2022-03-29 03:28] #818 closed

[2022-03-29 03:29] #547 closed

[2022-04-02 10:38] regiskuckaertz commented on #785
Thanks mate, yes I thought the issue was not at the right place indeed.

[2022-04-02 10:38] #785 closed

[2022-04-02 12:06] afsalthaj commented on #785
👍🏻

[2022-04-05 00:53] afsalthaj opened #841 "Allow users to lift values to a descriptor"
Pasting one of the questions from Discord, regarding the need of lifting values to a `ConfigDescriptor`

[code]

[2022-04-05 10:42] afsalthaj opened #844 "Introduce FlatMap"

[2022-04-06 17:14] bilal-fazlani opened #846 "Custom decoding not working"
Hi,

I have a sample minimal code to reproduce an issue I am facing

[code]

even though I have provided a given instance of `ConfigDescriptor[Address] `, it still seems that it is being ignored during auto derivation

[2022-04-07 05:53] bilal-fazlani commented on #846
If I create a `Descriptor` manually, it works

[code]

[2022-04-07 05:53] #846 closed

[2022-04-07 06:19] afsalthaj commented on #846
@bilal-fazlani , Yes, the type class used for auto-derivation is `Descriptor` and not `ConfigDescriptor`. In fact, `ConfigDescriptor` is not a type class.

Wee can support something along the lines of auto-deriving `Descriptor` given a `ConfigDescriptor`, however not a preferred method. The preferred way is to define instance for `Descriptor`, and obviously avoid orphan instances as well. Example:

[2022-04-07 12:53] bilal-fazlani commented on #846
I am only puzzled by how are the examples compiling? 🤔

https://github.com/zio/zio-config/blob/master/examples/shared/src/main/scala/zio/config/examples/magnolia/AutoDerivationCustom.scala#L23-L28

When I copy that code to my local setup (Scala 3), it fails to compile. When I write `Descriptor[String]` I get a `ConfigDescriptor[String]` in return.   @afsalthaj

[2022-04-08 12:20] afsalthaj commented on #846
It should be returning `Descriptor`.
https://github.com/zio/zio-config/blob/master/magnolia/shared/src/main/scala-2.12-2.13/zio/config/magnolia/Descriptor.scala#L293

[2022-04-08 14:46] yadavan88 opened #851 "Is the website outdated ?"
Hey,
I am just starting with ZIO Config for the first time, and was just trying to do a simple one. But it seems the examples in the website doesn't work/compile. Could not find anything like |@| in the ConfigDescriptor as well.
Is the website not updated or is there a different website for the new version?

[2022-04-08 23:27] afsalthaj commented on #851
The website content is updated but we haven’t published them yet. You can see the content under the docs folder in the repository.

We will be trying to fix this soon

[2022-04-09 08:09] yadavan88 commented on #851
Thanks for the quick reply. I will look at the docs. In the meantime, it would be nice to mention that the website is outdated in the main readme file and redirect to the docs for the people who are interested. I could just create a PR with 1-2 sentences in the main readMe for benefiting ppl like me.

[2022-04-09 08:28] yadavan88 commented on #851
Hey @afsalthaj I created a short PR just with some changes in readme and website to redirect to the docs path. Please consider if it makes sense.

[2022-04-14 12:07] #851 closed

[2022-04-14 12:08] yadavan88 commented on #851
Closing this since the PR is merged

[2022-04-23 15:05] zhiwilliam opened #862 "Please make fromConfigDescriptor public"
I am trying to apply this lib to my code. But I found there are very few data source can be applied. I cannot even read conf from my resources folder unless making a full path. And how about I read config from http? from DB? Data source and config read should be separated lib.

[2022-04-23 15:19] zhiwilliam commented on #862
I found there's a read function can do the same function. So this is a miss reporting.

[2022-04-23 15:19] #862 closed

[2022-05-26 09:45] afsalthaj opened #873 "Allow ZioConfig to read a value of a key from a different source"
we would like to inject an entire map into the variable and read it as a sort of "nested" config within a config. We use this primarily for logging overrides i.e.

The users currently go through a long loop such as the following:

[code]

[2022-05-26 09:58] afsalthaj commented on #873
Related to https://github.com/zio/zio-config/issues/844

[2022-05-26 10:04] afsalthaj commented on #873
Example:
[code]

System Env

[code]

[code]

We should also see, if the following makes sense too

[code]

[2022-08-03 08:34] Esardes opened #913 "Unsupported use-case? override type in typesafe config"
I have the following HOCON `application.conf` that I read with `pureconfig`, and where I use environment variables to override the _type_ of a field.
I can't find a way to replicate the behavior of overriding the (sub)type via environment variables with `zio-config` (with `DescriptorPureconfig`) when at least one of my concrete implementations of the trait is a case object (or a case class with no

[2022-08-17 18:29] amricko0b commented on #785
Greetings, @afsalthaj !

Could you please provide some more information about this issue's nature, if you know what's going on? Why ZIO tries to find object by wrong key in the environment? Are there some other issues that are somehow connected with this one?

I'm having the same issue and it would be very helpful to know more and to find out when the cause will be fixed.

Thanks in advance.

[2022-09-06 10:35] #642 closed

[2022-09-06 10:36] vigoo opened #926 "Add a zio-config-zio-aws module"
We could have a `zio-aws` based version of the already existing `zio-config-aws` module, so people who are using `zio-aws` already don't have to bring in both the AWS Java SDK v1 (via zio-config) and the v2 (via zio-aws) and be able to use unified credentials/logging/metrics/retry policies in their system.

[2022-09-06 15:18] vigoo commented on #926
Note: The linked PRs are adding this as a new module, not touching he existing zio-config-aws. It could make sense to have an alternative with only the minimum Java dependencies if a project is not using any other AWS services.

[2022-09-06 16:38] #926 closed

[2022-09-28 02:02] jiahuili430 opened #934 "Shall we add support for scala 2.13.9?"
`CVE-2022-36944` is exist from 2.13.0 ~ 2.13.8, see https://nvd.nist.gov/vuln/detail/CVE-2022-36944
Shall we add support for scala 2.13.9?

[2022-09-28 03:39] afsalthaj commented on #934
@jiahuili430 sounds good to me

[2022-10-07 00:09] icemc commented on #913
Hello @Esardes where you able to resolve this? I'm currently facing the same issue.

[2022-10-08 20:37] afsalthaj commented on #913
If no one is taking up - I can probably take this up.

[2022-10-14 09:37] vlushn opened #936 "no way to derive a string descriptor for sealed trait/case object "enum""
A typical representation of enums (in Scala 2) is the following:

[code]

Currently, with the magnolia auto-derivation, this have the following representation (using JSON syntax for simplicity):

[code]

There needs to be a way to derive the descriptor such that the `Status` enum can be represented by a string.

[2022-10-18 17:30] Darkest opened #938 "A way to get updates to config in runtime"
As I see there is no way to read new values into the config if one was changed. However it seems reasonable for cases when any of the configuration fields updates can be applied without restarting the application, for example it may be URL for some external service call and so on.

Have you ever thought of implementing such a logic?

[2022-10-27 16:59] ianlintner opened #943 "Support for zio.Duration (or scala) as Native Type"
As config user I find myself needing Duration for things timeouts.

Duration would be nice sugar to support ZIO duration as "primitive" config type.

Up for discussion on why/why but I would be willing to create PR.

[2022-10-27 17:01] ianlintner commented on #943
This may already be a thing looking at source/search.

[2022-10-27 17:10] afsalthaj commented on #943
Let’s add them in if you could raise a PR:)

On Fri, 28 Oct 2022 at 4:00 am, Ian Lintner ***@***.***>
wrote:

[2022-11-06 13:15] #943 closed

[2022-11-06 13:43] afsalthaj commented on #936
I am not sure about this behaviour

The following works for me:

import zio.config._, typesafe._, magnolia._

import zio._
import zio.Console._

object MyApp extends ZIOAppDefault {

  sealed trait Status
  case object Succeeded extends Status
  case object Failed extends Status
  case object Unknown extends Status

  case class State(status: Status, a: String)

  val str =
    s"""
     "status"

[2022-11-06 13:45] afsalthaj commented on #936
Try this in scastie, and see how it goes:
https://scastie.scala-lang.org/afsalthaj/JjQZyUNHQSar9OCQN2VJzQ/1

[2022-11-14 10:43] longliveenduro commented on #668
I tried to make a PR, but didn't managed to make it work.

[2022-11-21 18:09] jdegoes opened #951 "Integrate with config front-end in ZIO 2.0.4"
ZIO 2.0.4 provides a config front-end, which can be used to describe the format of configuration data.

_ZIO Config_ should integrate cleanly into this configuration front-end, providing the ability to supply `ConfigProvider` for the front-end, as well as declaratively specify how multiple, disparate, disjointed or maybe even overlapping configuration sources collectively provide all of the config

[2022-11-24 11:49] domdorn opened #962 "secrets management"
sister-issue to https://github.com/zio/zio/issues/7540